@using System.Data;
@{
    Layout = null;
    DataTable InvData = ViewBag.Data;
    DataRow RowData = InvData.Rows[0];
    string CompanyName = RowData["CompanyName"].ToString();
    string BranchName = RowData["CompanyBranchNameL1"].ToString();
    string BranchTel = RowData["CompanyBranchTel"].ToString();
    string VatCode = RowData["VatCode"].ToString();
    string Number = RowData["Number"].ToString();
    DateTime InvDate = Convert.ToDateTime(RowData["InvDate"]);
    int InvId = Convert.ToInt32(RowData["InvId"].ToString());
    string CustomerName = RowData["CustomerName"].ToString();
    string CashierName = RowData["UserFullName"].ToString();
    string CustomerPhone = RowData["InvPhoneNo"].ToString();
    string CustomerAddress = RowData["LocAddressInvoice"].ToString();
    string DeliveryName = RowData["DeliveryName"].ToString();
    string Notes = RowData["Notes"].ToString();
    // Decimal Total = Convert.ToDecimal(RowData["InvCurValue"].ToString());
    decimal Insurance = Convert.ToDecimal(RowData["Insurance"].ToString());
    decimal Vat = Convert.ToDecimal(RowData["Tax"].ToString());
    decimal Service = Convert.ToDecimal(RowData["Service"].ToString());
    decimal Discount = Convert.ToDecimal(RowData["Discount"].ToString());
    string DeliveryInvoice = RowData["DeliveryInvoice"].ToString();
    string IsDelivery = RowData["Delivery"].ToString();
    bool IsCancel = Convert.ToBoolean(RowData["IsCancel"].ToString());
    int DeliveryCount = Convert.ToInt32(RowData["DeliveryTrans"].ToString());
    string img = RowData["LocationImgPath"].ToString();
    string InvoiceRemark = RowData["InvoiceRemark"].ToString();
    string TableName = RowData["TableName"].ToString();

    decimal Total = 0;
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <style>
        .NoteBox {
            border: 1px solid black;
            width: 100px !important;
            height: 100px !important;
            text-align: center;
            margin-right: 10px;
        }

        img {
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: 40px;
            left: 25%;
            display: block;
            width: 140px;
            height: 80px;
            padding: 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            cursor: pointer;
            color: #000000;
            border: none;
            outline: none;
            background: #000000;
        }
        .tblitem, th, td {
            border-top: 1px solid black;
            border-collapse: collapse;
        }
        .table, .td {
            border-top: 0px !important;
            border-collapse: collapse;
        }

        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }

        .box {
            /* border: 3px solid black;*/
            width: 70%;
            height: 30px !important;
            text-align: center;
            margin: auto;
        }

        p span {
            display: block;
            text-align: center;
            font-size: 12px;
        }

        div span {
            display: block;
            font-size: 12px;
            text-align: center;
        }

        .divleft {
            width: 55%;
            display: inline-block;
            float: right;
        }

        .divRight {
            width: 45%;
            display: inline-block;
        }

        .divleft20 {
            width: 30%;
            display: inline-block;
            float: right;
        }

        .divRight80 {
            width: 70%;
            display: inline-block;
            float: right;
        }

        hr.line {
            border: 1px solid black;
        }

        @@import url('../../fonts/appFont/Dubai.ttf');

        @@font-face {
            font-family: 'Dubai';
            src: url('../../fonts/appFont/Dubai.ttf') format('truetype');
        }
    </style>

</head>
<body style="font-family:Dubai;line-height: 90%;">
    <div>

        <div style="padding-bottom:4px;margin-left:70px">
            <div class="divRight">
                <img src="@img" />
                <!-- <img src="~/Image/pandalos.jpeg" />-->
            </div>
        </div>
        <div style="margin-top:55px">
            <span style="">
                <label>@CompanyName</label>
            </span>
            <span>@BranchName</span>
        </div>

        <div class="" style="font-weight: bold;font-size:25px;line-height:30px">
            <span style=" font-weight: bold;font-size:20px;padding-right:5px;line-height:25px">

                Order
                @Number
            </span>

        </div>
        @if (TableName != "")
        {
          
            <div class="" style="font-weight: bold;font-size:25px;line-height:30px">
                <span style=" font-weight: bold;font-size:20px;padding-right:5px;line-height:25px">

                    @TableName
                </span>

            </div>
        }
        <div class="">
            <span style=" font-weight: bold;font-size:20px;padding-right:5px;line-height:25px">
                <label>النوع</label>
                <label>:</label>
                <label>@DeliveryInvoice</label>
            </span>
        </div>
        <div>
            <span>
                <label>التاريخ</label>
                <label>:</label>
                <label>@InvDate</label>
            </span>
        </div>
        <hr class="line" />
        @if (IsCancel)
        {
            <div>
                <span>
                    <label style="font-weight:bold">فاتورة ملغية</label>
                    <label style="font-weight:bold">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</label>
                </span>
            </div>
            <hr class="line" />
        }
    </div>
    <div>
        <div class="divleft">
            <span>
                <label>رقم الفاتورة</label>
                <label>:</label>
                <label>@InvId</label>
            </span>
        </div>
        <div class="divRight">

            <span>
                <label>كاشير</label>
                <label>:</label>
                <label>@CashierName </label>
            </span>
        </div>
        <br />
     
    </div>
    <hr class="line" />

    <table class="tblitem" dir="rtl" style="line-height:20px;font-size:13px;margin-right:15px;width:100%">
        <thead>
            <tr>
                <th width="30%">الكمية</th>
                <th>الصنف</th>
            </tr>
        </thead>
        @foreach (DataRow item in InvData.Rows)
        {
            <tr>
                <td style="text-align: center; vertical-align: middle;padding-right:20px">@item["Qty"]</td>
                <td style="text-align: center; vertical-align: middle;">
                    @item["InvItemNameL1"]
                    <br />
                </td>
                         </tr>
        }
    </table>
    <hr class="line" />
    @if (Notes != "")
    {
        <div class=" divRight80 NoteBox">
            @Notes
        </div>
    }
  

</body>
</html>
<script>

        window.print();
  
</script>