@using System.Data;
@{
    Layout = null;
    DataTable InvData = ViewBag.Data;
    DataRow RowData = InvData.Rows[0];
    string CompanyName = RowData["CompanyName"].ToString();
    string BranchName = RowData["CompanyBranchNameL1"].ToString();
    string BranchTel = RowData["CompanyBranchTel"].ToString();
    string VatCode = RowData["VatCode"].ToString();
    string Number = RowData["Number"].ToString();
    DateTime InvDate = Convert.ToDateTime(RowData["InvDate"]);
    int InvId = Convert.ToInt32(RowData["InvId"].ToString());
    string InvCode = RowData["InvCode"].ToString();
    string InvRef = RowData["InvRef"].ToString();
    bool IsReturn = Convert.ToBoolean(RowData["IsReturn"].ToString());
    string CustomerName = RowData["CustomerName"].ToString();
    string CashierName = RowData["UserFullName"].ToString();
    string CustomerPhone = RowData["InvPhoneNo"].ToString();
    string CustomerAddress = RowData["LocAddressInvoice"].ToString();
    string DeliveryName = RowData["DeliveryName"].ToString();
    string Notes = RowData["Notes"].ToString();
    // double Total = Convert.ToDouble(RowData["InvCurValue"].ToString());
    double Insurance = Convert.ToDouble(RowData["Insurance"].ToString());
    double Vat = Convert.ToDouble(RowData["Tax"].ToString());
    double Service = Convert.ToDouble(RowData["Service"].ToString());
    double Discount = Convert.ToDouble(RowData["Discount"].ToString());
    string DeliveryInvoice = RowData["DeliveryInvoice"].ToString();
    string IsDelivery = RowData["Delivery"].ToString();
    bool IsCancel = Convert.ToBoolean(RowData["IsCancel"].ToString());
    int DeliveryCount = Convert.ToInt32(RowData["DeliveryTrans"].ToString());
    string img =RowData["LocationImgPath"].ToString();
    string InvoiceRemark = RowData["InvoiceRemark"].ToString();
    string TableName = RowData["TableName"].ToString();
    double Total = 0;
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <style>
        .NoteBox {
            border: 1px solid black;
            width: 100px !important;
            height: 100px !important;
            text-align: center;
            margin-right: 10px;
        }

        #logo {
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: 40px;
            left: 25%;
            display: block;
            width: 140px;
            height: 80px;
            padding: 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            cursor: pointer;
            color: #000000;
            border: none;
            outline: none;
            background: #000000;
        }
        #qr {
            font-size: 0;
            line-height: 0;
            top: 75%;
            left: 25%;
            display: block;
            width: 152px;
            height: 152px;
            padding: 0;
            cursor: pointer;
            color: #000000;
            border: none;
            outline: none;
            background: #000000;
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }


        .tblitem, th, td {
            border-top: 1px solid black;
            border-collapse: collapse;
        }

        .table, .td {
            border-top: 0px !important;
            border-collapse: collapse;
        }

        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }

        .box {
            /* border: 3px solid black;*/
            width: 70%;
            height: 30px !important;
            text-align: center;
            margin: auto;
        }

        p span {
            display: block;
            text-align: center;
            font-size: 12px;
        }

        div span {
            display: block;
            font-size: 12px;
            text-align: center;
        }

        .divleft {
            width: 55%;
            display: inline-block;
            float: right;
        }

        .divRight {
            width: 45%;
            display: inline-block;
        }

        .divleft20 {
            width: 30%;
            display: inline-block;
            float: right;
        }

        .divRight80 {
            width: 70%;
            display: inline-block;
            float: right;
        }

        hr.line {
            border: 1px solid black;
        }

        @@import url('../../fonts/appFont/Dubai.ttf');

        @@font-face {
            font-family: 'Dubai';
            src: url('../../fonts/appFont/Dubai.ttf') format('truetype');
        }
    </style>

</head>
<body style="font-family:Dubai;line-height: 90%;">
    <div>

        <div style="padding-bottom:4px;margin-left:70px">
            <div class="divRight">
                <img id="logo" src="@img" />
                <!-- <img src="~/Image/pandalos.jpeg" />-->
            </div>
        </div>
        <div style="margin-top:55px">
            <span style="">
                <label>@CompanyName</label>
            </span>
            <span>@BranchName</span>
            <span><label>@BranchTel:</label><label>هاتف</label></span>
            <span><label>@VatCode:</label><label>الرقم الضريبي</label></span>
            @if (!IsReturn)
            {
                <span>فاتورة ضريبية مبسطة</span>
            }
            else
            {
            <span>
           -اشعار دائن
           -مرتجع مبيعات
            </span>

            }

        </div>


        <div class="divRight80">


        </div>
        <div class="" style="font-weight: bold;font-size:25px;line-height:30px">
            <span style=" font-weight: bold;font-size:20px;padding-right:5px;line-height:25px">

                Order
                @Number
            </span>

        </div>
        <div class="">
            <span style=" font-weight: bold;font-size:20px;padding-right:5px;line-height:25px">

                @DeliveryInvoice
            </span>
        </div>
        @if (TableName != "")
        {
            <div class="">
                <span style=" font-weight: bold;font-size:20px;padding-right:5px;line-height:25px">
                    @TableName
                </span>
            </div>
        }
            <div>
                <span>
                    <label>تاريخ وقت الفاتورة </label>
                    <label>:</label>
                    <label>@InvDate</label>
                </span>
            </div>
            <hr class="line" />
            @if (IsCancel)
            {
                <div>
                    <span>
                        <label style="font-weight:bold">فاتورة ملغية</label>
                        <label style="font-weight:bold">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</label>
                    </span>
                </div>
                <hr class="line" />
            } 
        @if (IsReturn)
            {
                <div>
                    <span>
                        <label style="font-weight:bold">فاتورة مرتجعات</label>
                        <label style="font-weight:bold">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</label>
                    </span>
                </div>
                <hr class="line" />
            }
        </div>
    <div>
        <div class="divleft" dir="rtl">
            <span>
                <label>رقم الفاتورة</label>
                <label>:</label>
                <label dir="rtl">
                    @*@InvId*@
                    @InvCode
                </label>
            </span>

            
            @if (InvRef != "")
            {
                <span>
                    <label>رقم المرجع</label>
                    <label>:</label>
                    <label dir="rtl">@InvRef</label>
                </span>
            }
        </div>
        <div class="divRight">
            <span>
                <label>كاشير</label>
                <label>:</label>
                <label>@CashierName </label>
            </span>
        </div>
        <br />
        @if (TableName != "")
        {
            <div class="divleft">
                <span>
                    <label>الطاولة</label>
                    <label>:</label>
                    <label>@TableName</label>
                </span>
            </div>
        }
        @if (CustomerName != "")
        {
            <div class="divleft">

                <span>

                    <label>عميل</label>
                    <label>:</label>
                    <label>@CustomerName</label>
                </span>
            </div>
        }
        @if (CustomerPhone != "")
        {
            <div class="divRight">

                <span>
                    <label>جوال</label>
                    <label>:</label>
                    <label style="font-weight:bold;font-size:large">@CustomerPhone</label>
                </span>

            </div>
        }
        <br />
        <div>
            @if (CustomerAddress != "")
            {
                <div class="divleft">
                    <span>

                        <label>عنوان</label>
                        <label>:</label>
                        <label>@CustomerAddress </label>
                    </span>
                </div>
            }

            @if (DeliveryName != "")
            {
                <div class="divRight">

                    <span>
                        <label>سائق</label>
                        <label>:</label>
                        <label>@DeliveryName </label>
                    </span>

                </div>
            }
        </div>
    </div>
    <hr class="line" />

    <table class="tblitem" dir="rtl" style="line-height:20px;font-size:13px;margin-right:15px;width:100%">
        <thead>
            <tr>
                <th width="30%">الكمية</th>
                <th>الصنف</th>
                <th>السعر</th>
                <th style="padding-right:5px">الاجمالي </th>
            </tr>
        </thead>
        @foreach (DataRow item in InvData.Rows)
        {
    <tr style="border-top:@item["type"]">
        <td style="text-align: center; vertical-align: middle;padding-right:20px;border-top:@item["type"]">@item["Qty"]</td>
        <td style="text-align: center; vertical-align: middle;border-top:@item["type"];font-weight:bold">
            @item["InvItemNameL1"]
            <br />
            @*@item["ItemAdd"]*@
        </td>
        <td style="text-align: center; vertical-align: middle;border-top:@item["type"]">@item["Price"]</td>
        <td style="text-align: center;border-top:@item["type"]">@item["Total"]</td>
    </tr>
            Total = Total + Convert.ToDouble(item["Total"].ToString());
        }
    </table>
    <hr class="line" />
    @if (Notes != "")
    {
        <div class=" divRight80 NoteBox">
            @Notes
        </div>
    }
    <div class="divLeft20">
        <table class="table" dir="rtl" style="line-height:20px;font-size:13px">
            <tr class="tr">
                <td class="td">المجموع</td>
                <td class="td">@Total</td>
            </tr>
            @if (Insurance != 0)
            {
                <tr class="tr">
                    <td class="td">التأمين</td>
                    <td class="td">@Insurance</td>
                </tr>
            }
            @if (Discount != 0)
            {
                <tr>
                    <td class="td">الخصم</td>
                    <td class="td">@Math.Round(Discount, 2)</td>
                </tr>
            }
            <tr>

                <td class="td">يشمل 15% ضريبة القيمة المضافة</td>
                @if (Discount != 0)
                {
                    var tDis = (Total - Discount);
                    var vVat = (tDis / 1.15);
                    double VatWithDiscount = tDis - vVat;

            <td class="td">@Math.Round(VatWithDiscount, 2)</td>
                }
                else
                {
                <td class="td">@Math.Round(Vat, 2)</td>
                }
                </tr>
                <tr style="border-top:1px solid">
                    <td class="td">الاجمالي</td>
                    @{var t = Total - Discount;}
                <td class="td">@Math.Round(t, 2).ToString("0.00")</td>
                </tr>
            </table>
    </div>

    <hr class="line">
    <img id="qr" src="@Url.Content(ViewBag.ImgPath)" />
    <div><span>الاسعار شاملة (15%)ضريبة القيمة المضافة </span></div>
    <div><span>@InvoiceRemark</span></div>
</body>
</html>
<script>
    if ('@DeliveryName' != '' || '@IsDelivery'=== 'True') {
        var count = 0;
        var interval = setInterval(function () {
            console.log('count='+count+'  DeliveryCount='+'@DeliveryCount')
            if (count > '@DeliveryCount') {
                clearInterval(interval)
            } else {
                window.print();
                count++;
            }
        }, 10);
    } else {
        window.print();
    }


      /* $.get('/POS/PrintKHtml', function () {
        })*/
</script>