@using appSERP.Views.Shared.appResource
@{
    //Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
    Layout = null;
}
@{
    DateTime dateTimeFrom = ViewBag.DateFrom;
    DateTime dateTimeTo = ViewBag.DateTo;
    string CashierId = string.Empty;
    if (Request.Cookies["CashierId"] != null)
    { CashierId = Request.Cookies["CashierId"].Value; };
    int BranchId = 0;
    if (Request.Cookies["BranchId"] != null)
    { BranchId = Convert.ToInt32(Request.Cookies["BranchId"].Value); };

}
<style>
    body {
        background-color: #FFF;
    }

    .divFormControl, divFormDtl {
        background-color: #FFF;
        padding: 3px;
    }

    .tblGlVoucherBody {
        text-align: center;
        background-color: #FFF;
    }

    .divFormDtl, .divDtl {
        height: 40vh !important;
        overflow-y: scroll !important;
        background-color: #FFF;
    }

    .clsSelected {
        background-color: #0094ff;
    }
</style>
<div class="divContainer bg-light">
    <div class="card">
        <div class="card-header ">
            خيارات البحث
        </div>
        <div class="card-body">
            <div class="divFormControl">
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            السائق
 <select id="Driver1Id" class="Driver1Id form-control " name="DriverId" data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" required></select>
                                            </div>
                    </div>

                    <div class="col-sm-7">
                        @*<div class="row">
                            <div class="col-md-6">
                                @appResource.dtFrom
                                <input type="Date" class="form-control txtDateFrom" value="@dateTimeFrom.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col-md-6">
                                @appResource.dtTo
                                <input type="Date" class="form-control txtDateTo" value="@dateTimeTo.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>*@


                        <div class="row col-sm-5">
                            <div class="col-sm-3">
                                <label class="small  pt-2">من تاريخ</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="d-flex txtProdLine">
                                    <input class="timeFrom" type="time" name="appt-time" value="05:00">

                                    <input type="date" class="form-control dtpDateFrom" value="@dateTimeFrom.ToString("yyyy-MM-dd")" />

                                </div>
                            </div>
                        </div>
                        <div class="row col-sm-5">
                            <div class="col-sm-3">
                                <label class="small  pt-2">الي تاريخ</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="d-flex ">
                                    <input class="timeTo" type="time" value="05:00" />

                                    <input type="date" class="form-control dtpDateTo" value="@dateTimeTo.ToString("yyyy-MM-dd")" />

                                </div>
                            </div>
                        </div>
                    </div>



                    <div class=" col-sm-2 bg-white">
                        <div class="card-footer bg-white">
                            <button type="button" class="btn btn-secondary btn-block btnSearch">@appResource.btnSearch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="divFormDtl">
                <table class="table table-bordered table-hover tblGlVoucher">
                    <thead>
                        <tr>
                            @*<th class=" " data-checked="false">
                                    <input type="checkbox" class="btnCheckAll">
                                    تحديد الكل
                                </th>*@
                            <th>رقم الفاتورة</th>
                            <th>@appResource._Date</th>
                            <th>@appResource._Branch</th>
                            <th>قيمة الفاتورة</th>
                            <th>العميل</th>
                            <th>الرقم</th>
                        </tr>
                    </thead>
                    <tbody class="tblGlVoucherBody"></tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="divDtl">
                <table class="table table-bordered table-hover tblDtl">
                    <thead>
                        <tr>
                            <th>الطلب</th>
                            <th>الكمية</th>
                            <th>السعر</th>
                            <th>الضريبة</th>
                            <th>الاجمالي </th>
                        </tr>
                    </thead>
                    <tbody class="tblDtlBody"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card row">

        <div class="card-body row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-secondary btn-block btnSelect"> طباعة تقرير السائق</button>
            </div>
            <div class="col-md-5">
                <table class="table table-bordered">

                    <tbody>
                        <tr>
                            <th>اجمالي الضريبة</th>
                            <th class="Vat">0.00</th>
                            <th>اجمالي السعر </th>
                            <th class="Price">0.00</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script>

    function Total() {
        var TotalVat = 0;
        var TotalPrice = 0;
        $('.tblDtlRow').each(function () {
            var Vat = parseFloat($(this).find('.txtVat').html())
            var Total = parseFloat($(this).find('.txtTotal').html())

            TotalVat += Vat
            TotalPrice += Total
        })
        $('.Vat').html(TotalVat.toFixed(2))
        $('.Price').html(TotalPrice.toFixed(2))


    }

    //function Append
    function funGlVoucherRowConfig(pGLVoucherRow) {
        var InvoiceDtl = JSON.stringify(pGLVoucherRow.InvoiceDTL)
        var Total;
        if (pGLVoucherRow.InvCurValue) {
            Total = (pGLVoucherRow.InvCurValue).toFixed(2)
        } else {
            Total = 0.00
        }
        // Content
        var RowContent = '<tr class="tblGlVoucherRow" data-id="' + pGLVoucherRow.InvId + '">' +
            //'<td><input type="checkbox" class="clsChk" name="chkIsValid" data-id="' + pGLVoucherRow.InvId + '"/></td> ' +
            '<td class="d-none clsData">' + InvoiceDtl + '</td>' +
            '<td class="code">' + pGLVoucherRow.InvCode + '</td>' +
            '<td>' + pGLVoucherRow.InvDate + '</td>' +
            '<td>' + pGLVoucherRow.CompanyId + '</td>' +
            '<td>' + (Total) + '</td>' +
            '<td>' + pGLVoucherRow.CustomerName + '</td>' +
            '<td>' + pGLVoucherRow.InvPhoneNo + '</td>' +
            +'</tr > '
        return RowContent
    }
    function funGetGLVoucherData(DocNo, psDateFrom, psDateTo, phGLVoucherRef, phGLVoucherRefDate, phGLVoucherNote, phNumbers, phInvType,DriverId) {
        var vDataResult;
              $('.tblGlVoucherBody').html('');
        $.get('/api/APIINVInvoice/INVInvoiceGET',
            {
                // Head Parameters
                phInvId: DocNo,
                psDateFrom: psDateFrom,
                psDateTo: psDateTo,
                phInvRef: phGLVoucherRef,
                phNotes: phGLVoucherNote,
                phNumbers: phNumbers,
                pDelivery:DriverId,

                //phIsDeleted: false,
                // Query Type Id
                pQueryTypeId: '400',
    branchId:@BranchId,
                phInvtype: 33,
            },
            function (data, status) {
                if (data !='') {
                    // JSON Parse
                    vDataResult = JSON.parse(data);

                    // $('.tblGlVoucherBody').html('');
                    $.each(vDataResult, function (m, GLVoucherData) {
                        // GET Cash Desk Row Content
                        var vAccountRowContent = funGlVoucherRowConfig(vDataResult[m]);

                        // Append Row Content
                        $('.tblGlVoucherBody').append(vAccountRowContent);
                    });
                }

            })

        return vDataResult
    }
    // Action Search
    $('.btnSearch').on('click', function () {
        var vDocSearchNo = $('.txtDocSearchNo').val();
        var vDateFrom = $('.txtDateFrom').val();
        var vDateTo = $('.txtDateTo').val();
        var vRefNum = $('.txtRefNum').val();
        var vRefDate = $('.txtRefDate').val();
        var vText = $('#txtNote').val();
        var vhInvTypeId = $('.txtInvType').val();
           var timeFrom = $('.timeFrom').val()
            var timeTo=$('.timeTo').val()
            var DateFrom = $('.dtpDateFrom').val()+' '+timeFrom
            var DateTo = $('.dtpDateTo').val()+' '+timeTo
        var vDriverId = $('#Driver1Id').val();
        // Get Row
        // Get Row
        funGetGLVoucherData(vDocSearchNo, DateFrom, DateTo, vRefNum, vRefDate, vText, null, vhInvTypeId,vDriverId)
    })
    // Actione Load
    //$(document).ready(function () {
    //    var vhInvTypeId = $('.txtInvType').val();
    //    var vDateFrom = $('.txtDateFrom').val();
    //       var timeFrom = $('.timeFrom').val()
    //        var timeTo=$('.timeTo').val()
    //        var DateFrom = $('.dtpDateFrom').val()+' '+timeFrom
    //        var DateTo = $('.dtpDateTo').val()+' '+timeTo
    //    var vDateTo = $('.txtDateTo').val();
       
    //    // Get Row
    //   funGetGLVoucherData(null, DateFrom,DateTo, null, null, null, null, vhInvTypeId,null)
    //});

</script>
<script>

    // CheckBox Selector
    $(".btnCheckAll").click(function () {
        var vChecked = $(this).attr('data-checked');

        if (vChecked == 'true') {
            $(this).attr('data-checked', 'false');
            $("input[name='chkIsValid']").prop("checked", false);
        }
        else {
            $(this).attr('data-checked', 'true');
            vChecked = $(this).attr('data-checked');
            $("input[name='chkIsValid']").prop("checked", true);
        }
    });

</script>
<!--ON CLICK ROW-->
<script>

      funDriver(Driver)
    $('.tblGlVoucherBody').on('click', '.tblGlVoucherRow', function () {
        $('.tblGlVoucherRow').removeClass('clsSelected')
        $(this).addClass('clsSelected')
        var Element = $(this).attr('data-id')
        var Data = $(this).find('.clsData').text()

        var vDataResult = JSON.parse(Data)
        var TableRow = $('.tblDtlBody')
        TableRow.html('')
        $.each(vDataResult, function (i, Dtl) {
            TableRow.append(funDtlRowConfig(Dtl))
        })

        Total()
    })
    function funDtlRowConfig(pGLVoucherRow) {
        var vatTotal;
        var Total;
        if (pGLVoucherRow.VatTotal) {
            vatTotal = (pGLVoucherRow.VatTotal).toFixed(2)
        } else { vatTotal = pGLVoucherRow.VatTotal }
        if (pGLVoucherRow.Total) {
            Total = (pGLVoucherRow.Total).toFixed(2)
        } else { Total = pGLVoucherRow.Total }
        // Content
        var RowContent = '<tr class="tblDtlRow" data-id="' + pGLVoucherRow.InvId + '">' +
            '<td class="text-center">' + pGLVoucherRow.InvItemName + '</td>' +
            '<td class="text-center">' + pGLVoucherRow.Qty + '</td>' +
            '<td class="text-center">' + pGLVoucherRow.Price + '</td>' +
            '<td class="text-center txtVat">' + vatTotal + '</td>' +
            '<td class="text-center txtTotal">' + Total + '</td>' +
            +'</tr >'
        return RowContent
    }

    $('.btnSelect').on('click', function () {
        var DriverId = $('#Driver1Id').val();
          var timeFrom = $('.timeFrom').val()
            var timeTo=$('.timeTo').val()
            var DateFrom = $('.dtpDateFrom').val()+' '+timeFrom
        var DateTo = $('.dtpDateTo').val() + ' ' + timeTo

        if (DriverId&&'@CashierId'!='') {
            if ('@ViewBag.IsPOSPrinterNetwork' === 'False') {

                printIframe("/POS/GetPrintDeliveryReport?DateFrom=" + DateFrom + "&&DateTo=" + DateTo + "&&DeliveryId=" + DriverId + "&&CashierId=" + '@CashierId');
            } else {
            $.get('/POS/GetPrintDeliveryReport',
                {
                    DeliveryId: DriverId,
                    DateFrom: DateFrom,
                    DateTo: DateTo,
                    CashierId:'@CashierId',
                }, function (Data) {



                })}
        }
    })

         function funDriver(Data) {
            var vDataJSON = JSON.parse(Data);
            $.each(vDataJSON, function (i, Driver) {
                $('#Driver1Id').append('<option data-id="' + Driver.ResEmployeeId + '" value="' + Driver.ResEmployeeId + '" sort-id="' + i + '">' + Driver.ResEmployeeNameL1 + '</option>')
                if (i == 0) {
                    vDriverId = Driver.DriverId;
                }
            })
            $('#Driver1Id').val(vDriverId);
            // Refresh Select Picker
           $('#Driver1Id').selectpicker('refresh');
        }
</script>