@using appSERP.Views.Shared.appResource
@{
    //Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
    Layout = null;
}
<style>
    body {
        background-color: #FFF;
    }
    .divFormControl, divFormDtl {
        background-color: #FFF;
        padding: 3px;
    }

    .tblGlVoucherBody {
        text-align: center;
        background-color: #FFF;
    }

    .divFormDtl {
        max-height: 40vh !important;
        overflow-y: scroll !important;
        background-color: #FFF;
    }
</style>
<div class="divContainer bg-light">
<div class="card">
    <div class="card-header ">
        خيارات البحث
    </div>
    <div class="card-body">
        <div class="divFormControl">
            <div class="row">
                <div class="col-sm-2">
                    <div>@appResource.GLVoucherNo<input type="text" class="form-control txtDocSearchNo" name="chkIsValid" min="0" /></div>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-md-6">
                            @appResource.dtFrom
                            <input type="Date" class="form-control txtDateFrom"  />
                        </div>
                        <div class="col-md-6">
                            @appResource.dtTo
                            <input type="Date" class="form-control txtDateTo"  />
                        </div>
                    </div>
                </div>

                <div class=" col-sm-4">
                    <div class="row">
                        <div class="col-md-6">
                            @appResource.GLVoucherRef
                            <input type="text" class="form-control txtRefNum" min="0" />
                        </div>
                        <div class="col-md-6">
                            @appResource.GLVoucherRefDate
                            <input type="Date" class="form-control txtRefDate"  />
                        </div>
                    </div>
                </div>

                <div class=" col-sm-2">
                    البيان
                    <input type="text" class="txtNote form-control" id="txtNote" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <button type="button" class="btn btn-secondary btnSearch">@appResource.btnSearch</button>

    </div>
</div>

<div class="divFormDtl ">
    <table class="table table-bordered table-hover tblGlVoucher">
        <thead>
            <tr>
                <th class="btnCheckAll" data-checked="false">تحديد الكل</th>
                <th>@appResource.GLVoucherNo</th>
                <th>@appResource._Date</th>
                <th>@appResource.GLVoucherRef</th>
                <th>@appResource.GLVoucherRefDate</th>
                <th>@appResource._TransactionSource</th>
                <th>البيان</th>
            </tr>
        </thead>

        <tbody class="tblGlVoucherBody"></tbody>
    </table>

</div>
<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-secondary btnSelect">اختيار</button>
    </div>
</div>
</div>
<script>



    //function Append
    function funGlVoucherRowConfig(pGLVoucherRow) {
        // Content
        var RowContent = '<tr>' +
            '<td><input type="checkbox" class="clsChk" name="chkIsValid" data-id="' + pGLVoucherRow.GLVoucherId + '"/></td> ' +
            '<td>' + pGLVoucherRow.GLVoucherNo + '</td>' +
            '<td>' + pGLVoucherRow.GLVoucherDate + '</td>' +
            '<td>' + pGLVoucherRow.GLVoucherRef + '</td>' +
            '<td>' + pGLVoucherRow.GLVoucherRefDate + '</td>' +
            '<td>' + pGLVoucherRow.GLVoucherCategoryNameL1 + '</td>' +
            '<td>' + pGLVoucherRow.GLVoucherNote + '</td>' +
            +'</tr > '
        return RowContent
    }
    function funGetGLVoucherData(DocNo, psDateFrom, psDateTo, phGLVoucherRef, phGLVoucherRefDate, phGLVoucherNote, phNumbers, phVoucherTypeId) {
        var vDataResult;
        $.get('/api/APIGLVoucher/GLVoucherGET',
            {
                // Head Parameters
                psGLVoucherNo: DocNo,
                psDateFrom: psDateFrom,
                psDateTo: psDateTo,
                phGLVoucherRef: phGLVoucherRef,
                phGLVoucherRefDate: phGLVoucherRefDate,
                phGLVoucherNote: phGLVoucherNote,
                phNumbers: phNumbers,
                
                phIsDeleted: false,
                // Query Type Id
                pQueryTypeId: '400',
                phVoucherTypeId: phVoucherTypeId,
            },
            function (data, status) {

                // JSON Parse
                 vDataResult = JSON.parse(data);
                $('.tblGlVoucherBody').html('');
                $.each(vDataResult, function (m, GLVoucherData) {
                    // GET Cash Desk Row Content

                    var vAccountRowContent = funGlVoucherRowConfig(vDataResult[m]);

                    // Append Row Content
                    $('.tblGlVoucherBody').append(vAccountRowContent);
                });

            })

        return vDataResult
    }
    // Action Search
    $('.btnSearch').on('click', function () {
        var vDocSearchNo = $('.txtDocSearchNo').val();
        var vDateFrom = $('.txtDateFrom').val();
        var vDateTo = $('.txtDateTo').val();
        var vRefNum = $('.txtRefNum').val();
        var vRefDate = $('.txtRefDate').val();
        var vText = $('#txtNote').val();
        var vhVoucherTypeId = $('.txtVoucherType').val();

        // Get Row
        funGetGLVoucherData(vDocSearchNo, vDateFrom, vDateTo, vRefNum, vRefDate, vText, null, vhVoucherTypeId)
    })
    // Actione Load
    $(document).ready(function () {
        var vhVoucherTypeId = $('.txtVoucherType').val();
        console.log(vhVoucherTypeId)
        // Get Row
        funGetGLVoucherData(null, null, null, null, null, null, null, vhVoucherTypeId)
    });

</script>
<script>

    // CheckBox Selector
    $(".btnCheckAll").click(function () {
        var vChecked = $(this).attr('data-checked');

        if (vChecked == 'true') {
            $(this).attr('data-checked', 'false');
            $("input[name='chkIsValid']").prop("checked", false);
        }
        else {
            $(this).attr('data-checked', 'true');
            vChecked = $(this).attr('data-checked');
            $("input[name='chkIsValid']").prop("checked", true);
        }
    });


</script>