@model appSERP.Models.ACC.AccountTypeModel
@using appSERP.Views.Shared.appResource
@{
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <!-- Header -->
    <div class="container-fluid">
        @Html.Action("ViewSettingModalHeader", "ViewSetting", new { pModalHeaderTitle = appResource.lblAccountType, pId = Model.AccountTypeId })
    </div>
   
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.AccountTypeId)

    <div class="form-group">
        @Html.LabelFor(model => model.AccountTypeCode, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.AccountTypeCode, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
            @Html.ValidationMessageFor(model => model.AccountTypeCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AccountTypeNameL1, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.AccountTypeNameL1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AccountTypeNameL1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AccountTypeNameL2, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.AccountTypeNameL2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AccountTypeNameL2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="custom-control custom-checkbox col-md-12 m-3">
            @Html.EditorFor(model => model.AccountTypeIsActive, new { htmlAttributes = new { @class = "custom-control-input", @id = "customCheck1" } })
            @Html.LabelFor(model => model.AccountTypeIsActive, htmlAttributes: new { @class = "custom-control-label", @for = "customCheck1" })
        </div>
    </div>

    <div class="form-group divModalFooter">
        <div class="col-md-offset-2 col-md-12">
            <input type="submit" value="@appResource.btnSave" class="btn btn-success" />
            <button type="button" class="btn btn-light" data-dismiss="modal">@appResource.btnClose</button>
        </div>
    </div>

</div>
}
