<!-- UserSecurityLog -->
@model System.Data.DataTable
@using System.Data
@using appSERP.appCode.dbCode.SEC
@using appSERP.Views.Shared.appResource
@{
    ViewBag.Title = "UserSecurityTransactionLog";
      Layout = "~/Views/Shared/_Layout.cshtml";

}
@{ 
    var vData = ViewBag.vbUserSecurityLog;
    DataTable vDTUserLog;
    if(vData != null)
    {
        vDTUserLog = vData;
    }
    else
    {
        vDTUserLog = Model;
    }
}
<div class="divLog">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label"> @appResource.dtFrom @appResource._Date</label>
                <input type="date" id="dtpDateFrom" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> @appResource.dtTo @appResource._Date</label>
                <input type="date" id="dtpDateTo" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label"> @appResource.dtFrom @appResource._Time</label>
                <input type="time" id="dtpTimeFrom" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> @appResource.dtTo @appResource._Time</label>
                <input type="time" id="dtpTimeTo" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">@appResource.UserName</label>
                <select id="selectUser" class="selectpicker form-control form-control" name="UserId" data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true"></select>
            </div>
            <div class="form-group">

                <button class="btn btn-outline-primary" id="btnSearch">@appResource.btnSearch</button>
            </div>

        </div>


    </div>
</div>
<!-- Data Container -->
<div class="container-fluid" id="divContainer">
    <!-- DataTable -->
    <table class="table table-hover tblData" id="tblData">
        <!-- DataTable Header -->
        <thead>
            <tr>
                <th>@appResource.UserName</th>
                <th>@appResource._Date</th>
                <th>@appResource._Time</th>
                <th>@appResource.UserSecurityTransactionTypeId</th>
            </tr>
        </thead> <!-- End of DataTable Header -->
        <!-- DataTable Body -->
        <tbody>

            @foreach (DataRow vDrwData in vDTUserLog.Rows)
            {
            <tr>
                <!-- Data -->
                <td title="@vDrwData["UserFullName"]">@vDrwData["UserFullName"]</td>
                <td title="@vDrwData["SecurityLogDate"]">@vDrwData["SecurityLogDate"]</td>
                <td title="@vDrwData["SecurityLogTime"]">@vDrwData["SecurityLogTime"]</td>
                <td title="@vDrwData["UserSecurityTransactionTypeNameL1"]">@vDrwData["UserSecurityTransactionTypeNameL1"]</td>
            </tr>
            }
        </tbody><!-- End of DataTable Body -->
    </table> <!-- End of DataTable -->
</div> <!-- End of Data Container -->
<script>
    // Click Search
    $('#btnSearch').on('click', function () {

        var vDateFrom = $('#dtpDateFrom').val();
        var vDateTo = $('#dtpDateTo').val();
        var vTimeFrom = $('#dtpTimeFrom').val();
        var vTimeTo = $('#dtpTimeTo').val();
        var vUserId = $('#selectUser').val();

        $.post('/Home/GetUserSecurityLog', {
            pUserId: vUserId,
            pDateFrom: vDateFrom,
            pDateTo: vDateTo,
            pTimeFrom: vTimeFrom,
            pTimeTo: vTimeTo

        }, function () {
            // Load Content
            $("#tblData").load("UserSecurityTransactionLog .tblData");
            });
    });
</script>
<script>
        // Fill Select List Of User
        // List GetUser
    $.post('/Home/GetUser',
        null,
        function (data, status) {
            var vDataJSON = JSON.parse(data);
            $.each(vDataJSON, function (i, User) {
                $('#selectUser').append('<option data-id="' + User.UserId + '" value="' + User.UserId + '" sort-id="' + i + '">' + User.UserFullName + '</option>')
            })
            // Refresh Select Picker
            $('.selectpicker').selectpicker('refresh');
        }
    )
    </script>