@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.SYSSETT;
@{
    Layout = null;
}

<!--Awoseme Font-->
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<!--PDF-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<!--EXCEL-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script src="~/Scripts/Excel/external/FileSaver.min.js"></script>
<script src="~/Scripts/Excel/scripts/excel-gen.js"></script>
<script src="~/Scripts/Excel/scripts/demo.page.js"></script>
<!--HideColumns-->
<script src="~/Scripts/DataTable/DataTableColumnsVisibility/jsDataTableColumnsVisibility.js"></script>
<!--Sort Tables-->
<script src="~/Scripts/Excel/SortTable/SortTable.js"></script>


<style>
    .btnUtility {
        background-color: #dfe6e9;
        color: #444;
    }
</style>

<div class="w-100">
    <div class="d-flex justify-content-end">
 
                    <div class="d-flex justify-content-end">
                        <div class="btn-group m-2" role="group" aria-label="First group">
                            <!-- Save -->
                            <button class="btn btnUtility btnSave" title="@appResource.btnSave"><i class="fa fa-save"></i></button>
                            <button class="btn btnUtility btnSearch" title="@appResource.btnSearch"><i class="fa fa-search"></i></button>

                        </div>
                        <div class="btn-group m-2" role="group" aria-label="First group">
                            <!-- Copy -->
                            <button class="btn btnUtility btnCopy" title="@appResource.ttCopy"><i class="fa fa-copy"></i></button>
                            <!-- Cut -->
                            <button class="btn btnUtility btnCut" title="@appResource.ttCut"><i class="fa fa-cut"></i></button>
                            <!-- Paste -->
                            <button class="btn btnUtility btnPaste" title="@appResource.ttPaste"><i class="fa fa-paste"></i></button>
                        </div>


                        <div class="btn-group m-2" role="group" aria-label="First group">
                            <!-- Print -->
                            <button class="btn btnUtility btnPrint btnDataTablePrint" title="@appResource.ttPrint "><i class="fa fa-print"></i></button>
                            <!-- Sort Asc -->
                            <button class="btn btnUtility btnSortAsc" title="@appResource.ttSortAsc"><i class="fa fa-sort-asc"></i></button>
                            <!-- Sort Desc -->
                            <button class="btn btnUtility btnSortDesc" title="@appResource.ttSortDesc"><i class="fa fa-sort-desc"></i></button>
                        </div>

                        <div class="btn-group m-2" role="group" aria-label="First group">
                            <!-- ADD -->
                            <button class="btn btnUtility" id="btnAddNew"  title="@appResource.ttAdd"><i class="fa fa-plus"></i></button>
                            <!-- Edit -->
                            <button class="btn btnUtility " id="btnEdit" title="@appResource.ttEdit"><i class="fa fa-edit"></i></button>
                        </div>

                        <div class="btn-group m-2" role="group" aria-label="First group">
                            <!-- PDF -->
                            <button class="btn btnUtility btnPDF" title="@appResource.ttPDF"><i class="fa fa-file-pdf-o"></i></button>
                            <!-- Excel -->
                            <button class="btn btnUtility btnExcel btnDataTablePrint " title="@appResource.ttExcel"><i class="fa fa-file-excel-o"></i></button>
                            <!-- Word -->
                            <button class="btn btnUtility btnWord" id="btnWord" title="@appResource.ttWord"><i class="fa fa-file-word-o"></i></button>
                        </div>


                        <div class="btn-group m-2" role="group" aria-label="First group">
                            <!-- Close -->
                            <button class="btn btnUtility btnDeleteHead" title="@appResource.btnDelete"><i class="fa fa-close"></i></button>
                        </div>

                        <div class="btn-group m-2" role="group" aria-label="First group">
                            <!-- Next -->
                            <button class="btn btnUtility   btnFirst" id="btnFirst" title=" @appResource.ttFirst"><i class="fa  fa-fast-forward"></i></button>
                            <!-- Prev -->
                            <button class="btn btnUtility   btnNext" id="btnNext" title="@appResource.ttNext"><i class="fa  fa-forward "></i></button>
                            <!-- First -->
                            <button class="btn btnUtility btnPrev" id="btnPrev" title="@appResource.ttPrev"><i class="fa fa-backward"></i></button>
                            <!-- Last -->
                            <button class="btn btnUtility btnLast" id="btnLast" title="@appResource.ttLast"><i class="fa fa-fast-backward"></i></button>
                        </div>


                        <div class="btn-group m-2" role="group" aria-label="First group">
                            <!-- Full Screen -->
                            <button class="btn btnUtility btnFullScreen" title="@appResource.ttFullScreen"><i class="fa fa-window-maximize"></i></button>
                        </div>

                        <div class="btn-group m-2" role="group" aria-label="First group">
                            <div class="dropdown">
                                <button class="btn btnUtility dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-table"></i>
                                </button>
                                <div id="chkboxdiv" class="flex-shrink-1 dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
                            </div>
                        </div>
                    </div>
     


    </div>
</div>
<script>

</script>

<!-- Copy ---Past--- Cut-->
<script>
    // Copy
    $('.btnCopy').on('click', function () {
        $(".divContent").select();
        document.execCommand('copy');
    });

    // Cut
    $('.btnCut').on('click', function () {
        $(".divContent").select();
        document.execCommand('cut');
    });

    // Paste
    $('.btnPaste').on('click', function (e) {

        funPaste();
    })
</script>

<!-- Print-- SORT -->
<script>

    // Print
    $('.btnPrint').on('click', function () {
        //window.print();
    });

    //  Sort Desc
    $('.btnSortDesc').click(function () {
        sortTable(1, 'text');
    });
    // Sort Asc
    $('.btnSortAsc').click(function () {
        sortTable(1, 'text');
    });
</script>

<!-- Close -->
<script>
    $('.btnClose').on('click', function () {
        window.location.href = '/home/index'
    });
</script>
<!--Full Screen-->
<script>
    $('.btnFullScreen').on('click', function () {
        var elem = document.documentElement;

        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { /* Firefox */
            elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE/Edge */
            elem.msRequestFullscreen();
        }

    });
</script>
<!----WORD EXCEL PDF-->
<script type="text/javascript">

    $('.btnPDF').click(function () {
        // EXPORT PDF
        html2canvas($('table')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Table.pdf");
            }
        });
    });


    $(".btnWord").click(function (event) {
        // EXPORT WORD
        if (!window.Blob) {
            alert('Your legacy browser does not support this action.');
            return;
        }
        var html, link, blob, url, css;
        css = (
            '<style>' +
            '@@page tblData{size: 841.95pt 595.35pt;mso-page-orientation: landscape;}' +
            'div.tblData {page: tblData;}' +
            'table{border-collapse:collapse;}td{border:1px gray solid;width:5em;padding:2px;}' +
            '</style>'
        );
        html = window.divContainer.innerHTML;
        blob = new Blob(['\ufeff', css + html], {
            type: 'application/msword'
        });
        url = URL.createObjectURL(blob);
        link = document.createElement('A');
        link.href = url;
        // Set default file name.
        // Word will append file extension - do not add an extension here.
        link.download = 'Document';
        document.body.appendChild(link);
        if (navigator.msSaveOrOpenBlob) navigator.msSaveOrOpenBlob(blob, 'Document.doc'); // IE10-11
        else link.click();  // other browsers
        document.body.removeChild(link);

    });
</script>

<!-- NEXT PREV LAST FIRST-->
<script>

    // Next
    $('.btnNext').click(function () {

        var vLast = $('table > tbody > tr').last().html();

        var vRow = $('.selected').closest('tr');
        if (vRow.html() == vLast) {
            $(vRow).closest('tr').next('tr').addClass('selected')
        }
        else {
            $('.selected').closest('tr').removeClass('selected');
            $(vRow).closest('tr').next('tr').addClass('selected')
        }
    });
    // Prev
    $('.btnPrev').click(function () {
        var vFirst = $('table > tbody > tr').first().html();
        var vRow = $('.selected').closest('tr');

        if (vRow.html() == vFirst) {
            $(vRow).closest('tr').prev('tr').addClass('selected')
        }
        else {
            $('.selected').closest('tr').removeClass('selected');
            $(vRow).closest('tr').prev('tr').addClass('selected')
        }
    });
    // First
    $('.btnFirst').click(function () {
        var vLast = $('table > tbody > tr').first();
        $('table > tbody > tr').removeClass('selected');
        $(vLast).addClass('selected')
    });
    // Last
    $('.btnLast').click(function () {
        var vFirst = $('table > tbody > tr').last();
        $('table > tbody > tr').removeClass('selected');
        $(vFirst).addClass('selected')
    });
</script>

<script>
    // Hide Columns
    var manualchange = 1;
    $(document).ready(function () {
        var vColumnsLst = [];
        var table;
        if ($('table').length) {
            var nRow = $('table thead tr')[0];
            $.each(nRow.cells, function (i, v) { vColumnsLst.push(v.innerText); });
            fnDatatableColumnsAppendCheckboxes($('table'), vColumnsLst, $('#chkboxdiv'));
            $("#chkboxdiv").on("change", "[type=checkbox]", function (event) {
                if (manualchange == 1) {
                    fnDatatableColumnsVisibility($('table'), $(this))
                }

            });
        }
        setTimeout(function () {
            $('input[type=checkbox]').each(function (key, value) {
               // $('input[type=checkbox]').prop('checked', 1)
                manualchange = 0;
                // Do something after 1 second
                var nRow = $('table thead tr')[0];
                $.each(nRow.cells, function (i, v) {
                    if (v.innerText == $('[data-text="' + v.innerText + '"]').attr('data-text')) {
                        $('[data-text="' + v.innerText + '"]').prop('checked', 0)
                    }
                    else {

                    }
                });

            });
            manualchange = 1;
        }, 1000);
    });

</script>

<!-- Data Modal -->
<div id="dataModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="dataModalContent"></div>
    </div>
</div>

<script>
    $('#btnEdit').click(function () {
        //var pathname = window.location.pathname;
        //var vLocationpathSplit = pathname.split('/');
        //var vObjectName = vLocationpathSplit[1];
        //var vId = $('.selected').attr('data-id')
        //var vPath = '/' + vObjectName + '/DataModel/' + vId;
        //// Modal
        //$('#dataModalContent').load(vPath);
        //// Check Modal Input
        //funCheckModalInput();
        //// Modal Show
        //$('#dataModal').modal('show');
    });
</script>