@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "الكميات في المخازن";
}
<style>

    .table th, .table td {
        padding: 0rem !important;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    #table-scroll {
        /*height: 250px;*/
        height: 600px;
        overflow: auto;
        margin-top: 20px;
    }

    .clsColorRed {
        color: red;
    }

    .clsColorGray {
        color: darkgray;
    }

    .clsColorYellow {
        color: yellow;
    }

    .clsColorGreen {
        color: green;
    }
</style>
<!-- Head -->
<div class="">
    @Html.Action("ViewSettingHeader", "ViewSetting", new { pHeaderTitle = appResource.lblCategoryAccount, pIsNew = false })
</div>
<div class="">
    <div class="bg-white border rounded ">
        <div class="w-100">
            <div class="d-flex justify-content-end">
                <div class="btn-group m-2" role="group" aria-label="First group">
                    <!-- Save -->
                    <button class="btn btnUtility btnSave" title="@appResource.btnSave"><i class="fa fa-save"></i></button>
                    <button class="btn btnUtility btnSearch" title="@appResource.btnSearch"><i class="fa fa-search"></i></button>

                </div>
                <div class="btn-group m-2" role="group" aria-label="First group">
                    <!-- Copy -->
                    <button class="btn btnUtility btnCopy" title="@appResource.ttCopy"><i class="fa fa-copy"></i></button>
                    <!-- Cut -->
                    <button class="btn btnUtility btnCut" title="@appResource.ttCut"><i class="fa fa-cut"></i></button>
                    <!-- Paste -->
                    <button class="btn btnUtility btnPaste" title="@appResource.ttPaste"><i class="fa fa-paste"></i></button>
                </div>


                <div class="btn-group m-2" role="group" aria-label="First group">
                    <!-- Print -->
                    <button class="btn btnUtility btnPrint btnDataTablePrint" title="@appResource.ttPrint "><i class="fa fa-print"></i></button>
                    <!-- Sort Asc -->
                    <button class="btn btnUtility btnSortAsc" title="@appResource.ttSortAsc"><i class="fa fa-sort-asc"></i></button>
                    <!-- Sort Desc -->
                    <button class="btn btnUtility btnSortDesc" title="@appResource.ttSortDesc"><i class="fa fa-sort-desc"></i></button>
                </div>

                <div class="btn-group m-2" role="group" aria-label="First group">
                    <!-- ADD -->
                    <button class="btn btnUtility" title="@appResource.ttAdd"><i class="fa fa-plus"></i></button>
                    <!-- Edit -->
                    <button class="btn btnUtility " id="btnEdit" title="@appResource.ttEdit"><i class="fa fa-edit"></i></button>
                </div>

                <div class="btn-group m-2" role="group" aria-label="First group">
                    <!-- PDF -->
                    <button class="btn btnUtility btnPDF" title="@appResource.ttPDF"><i class="fa fa-file-pdf-o"></i></button>
                    <!-- Excel -->
                    <button class="btn btnUtility btnExcel btnDataTablePrint " title="@appResource.ttExcel"><i class="fa fa-file-excel-o"></i></button>
                    <!-- Word -->
                    <button class="btn btnUtility btnWord" id="btnWord" title="@appResource.ttWord"><i class="fa fa-file-word-o"></i></button>
                </div>


                <div class="btn-group m-2" role="group" aria-label="First group">
                    <!-- Close -->
                    <button class="btn btnUtility btnDeleteHead" title="@appResource.btnDelete"><i class="fa fa-close"></i></button>
                </div>

                <div class="btn-group m-2" role="group" aria-label="First group">
                    <!-- Next -->
                    <button class="btn btnUtility   btnFirst" id="btnFirst" title=" @appResource.ttFirst"><i class="fa  fa-fast-forward"></i></button>
                    <!-- Prev -->
                    <button class="btn btnUtility   btnNext" id="btnNext" title="@appResource.ttNext"><i class="fa  fa-forward "></i></button>
                    <!-- First -->
                    <button class="btn btnUtility btnPrev" id="btnPrev" title="@appResource.ttPrev"><i class="fa fa-backward"></i></button>
                    <!-- Last -->
                    <button class="btn btnUtility btnLast" id="btnLast" title="@appResource.ttLast"><i class="fa fa-fast-backward"></i></button>
                </div>


                <div class="btn-group m-2" role="group" aria-label="First group">
                    <!-- Full Screen -->
                    <button class="btn btnUtility btnFullScreen" title="@appResource.ttFullScreen"><i class="fa fa-window-maximize"></i></button>
                </div>

                <div class="btn-group m-2" role="group" aria-label="First group">
                    <div class="dropdown">
                        <button class="btn btnUtility dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-table"></i>
                        </button>
                        <div id="chkboxdiv" class="flex-shrink-1 dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white pt-3 pb-3 container-fluid row ">
    <div class="col-md-8">
        @*<div class="row mb-1  ">
                <div class="col-md-2">
                    نوع التقرير
                </div>
                <div class="col-md-10 row d-flex">
                    <select class="selectpicker " id="reportType">
                        <option value="1">تفصيلي</option>
                        <option value="2">بأكبر وحدة</option>
                        <option value="3">بأصغر وحدة</option>
                    </select>
                </div>
            </div>

                <div class="row mb-1  ">
                    <div class="col-md-2">
                        النوع
                    </div>
                    <div class="col-md-10 row d-flex">
                        <select class="selectpicker " id="type">
                            <option value="null">اصناف ومنتجات</option>
                            <option value="2">اصناف</option>
                            <option value="1">منتجات</option>
                        </select>
                    </div>
                </div>*@
        <div class="row mb-1   ">
            <div class="col-md-2">
                المخزن
            </div>

            <div class="col-md-6 row d-flex">

                <input type="text" class="form-control form-control txtStoreCode w-25" id="txtStoreCode" readonly/>
                <input type="text" class="form-control form-control txtStoreName w-75" id="txtStoreName" readonly />

            </div>
        </div>

        <div class="row mb-1  ">
            <div class="col-md-2">
                الفئة
            </div>
            @*<div class="col-md-8 row">*@
            <div class="col-md-6 row d-flex">
                <input type="text" class="form-control form-control txtTypeCode w-25" id="txtTypeCode" readonly/>
                <input type="text" class="form-control form-control txtTypeName w-75" id="txtTypeName" readonly />

            </div>
        </div>

        <div class="row mb-1  ">
            <div class="col-md-2">
                الصنف
            </div>
            @*<div class="col-md-8 row">*@
            <div class="col-md-6 row d-flex">
                <input type="text" class="form-control form-control txtProductCode w-25" id="txtProductCode" readonly />
                <input type="text" class="form-control form-control txtProductName w-75" id="txtProductName" readonly />
            </div>
        </div>
        <div class="row mb-1 ">
            <div class="col-md-2">
                الوحدة
            </div>
            <div class="col-md-6 row d-flex">
                <input type="text" class="form-control form-control txtUnitCode w-25" id="txtUnitCode" readonly />
                <input type="text" class="form-control form-control txtUnitName w-75" id="txtUnitName" readonly />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class=" mb-4">
            <input type="checkbox" name="zero" value="1" id="chkZero"> <label class="control-label">صفرية</label>
        </div>
        <div class="row mb-1  ">

            <div class="col-md-12 row d-flex">
                <select class="selectpicker " id="reportType">
                    <option value="1">تفصيلي</option>
                    <option value="2">بأكبر وحدة</option>
                    <option value="3">بأصغر وحدة</option>
                </select>
            </div>
        </div>

        <div class="row mb-1  ">

            <div class="col-md-12 row d-flex">
                <select class="selectpicker " id="type">
                    <option value="null">اصناف ومنتجات</option>
                    <option value="2">اصناف</option>
                    <option value="1">منتجات</option>
                </select>
            </div>
        </div>
        @*<div class="mb-4">*@
            <button type="button" class="btn btn-success btnView" id="btnView">عرض الكميات</button>
        @*</div>*@

        @*<button type="button" class="btn btn-success" id="btnPrintItem">تقرير حركة الاصناف</button>*@
    </div>

    <div class="col-md-2">
        <div class=" mb-4">
            <input type="radio" name="gender" value="1" id="rdbtnGeneral" checked> <label class="control-label">كميات عامة</label>
        </div>
        <div class="mb-4">
            <input type="radio" name="gender" value="1" id="rdbtnType"> <label class="control-label">كميات بحسب الفئات</label>
        </div>
        <div class="mb-4">
            <input type="radio" name="gender" value="1" id="rdbtnStore"> <label class="control-label">كميات بحسب المخزن</label>
        </div>
        
        
    </div>


</div>
<div align="center">

</div>


<div class="divQuanties bg-white border p-2" id="table-wrapper">

    <div id="table-scroll">

        <table class="table tblQuanties">
            <!-- Head -->
            <thead>
                <tr>

                    <th colspan="2">المخزن</th>
                    <th colspan="2">الصنف</th>
                    <th>الكمية</th>
                    <th>الوحدة</th>
                </tr>
            </thead>

            <!-- Body -->
            <tbody class="tblQuantiesBody"></tbody>
        </table>

    </div>
</div>
<div id="StoreDataModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="StoreDataModalContent"></div>
    </div>
</div>
<div id="TypeDataModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="TypeDataModalContent"></div>
    </div>
</div>
<div id="ProductDataModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="ProductDataModalContent"></div>
    </div>
</div>
<div id="UnitDataModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="UnitDataModalContent"></div>
    </div>
</div>


<script>
        var vtblData = ''
        var vtblAllData = ''
        var vtblStoreData = ''
        var vIsChkClicked = 0;
        funEmptyRow();
       // funSearch(0)

   var   Item = $.parseJSON($.ajax({
            url: '/api/APIInvItem/InvItemGET',
            dataType: "json",
            method: 'GET', contentType: 'application/json',
       //data: { pItemTypeList: '1,2', pQueryTypeId: '400' },
       data: { pItemTypeList: '1,2', pQueryTypeId: '412' },
            async: false
           }).responseText);
 localStorage.clear();
         localStorage.setItem("ItemProduct",Item)

    function funEmptyRow() {
        var vBody = $('.tblQuantiesBody');


        var vRowContent = '<tr class="tblRow" data-id="0" style="">' +
            //'<td ><button class="btn btn-sm btn-light btnVehicleAddRow text-secondary"><i class="fa fa-plus-circle"></i></button></td>' +
            '<td  width="5%"><input type="text" class="form-control  StoreCode" disabled   /></td>' +

            '<td><input type="text" class="form-control  StoreName"   /></td>' +
            '<td  width="5%"><input type="text" class="form-control   ProductCode" disabled  /></td>' +

            '<td><input type="text" class="form-control  ProductName"   /></td>' +
            '<td width="10%"><input type="text" class="form-control  Qty"   /></td>' +
            '<td><input type="text" class="form-control  Unit"   /></td>' +

            '</tr>';


        vBody.append(vRowContent);

    }
    $('.btnView').on('click', function () {
        funSearch(1)
    });

    $('#txtStoreCode').on('keydown dblclick', function (e) {
        if (e.keyCode == 120 || e.type == 'dblclick') {
            var vURL = '/Store/SearchStore';
            $('#StoreDataModalContent').load(vURL);
            // Modal Show
            $('#StoreDataModal').modal('show');
            $('body').on('click', '.divStoreSelect', function () {
                // Store Id
                var vStoreId = $(this).attr('data-id');

                // Get Values
                var vStoreCodeValue = $(this).find('.divStoreNo').text();
                var vStoreNameValue = $(this).find('.divStoreName').text();
                    // Set Value
                $('#txtStoreCode').val(vStoreCodeValue);
                $('#txtStoreCode').attr('data-id', vStoreId);
                $('#txtStoreName').val(vStoreNameValue);


                if (e.type == 'dblclick') {
                    //funSearch(1)
                }


                    // Modal Show
                    $('#StoreDataModal').modal('hide');


            })
        }
    })



       $('#txtProductCode').on('keydown dblclick', function (e) {
        if (e.keyCode == 120 || e.type == 'dblclick') {
            var vURL = '/ProductsQuantities/ProductSearch';
            $('#ProductDataModalContent').load(vURL);
            // Modal Show
            $('#ProductDataModal').modal('show');

            $('body').on('click', '.divContentSelect', function () {
                // Product Id
                var vProductId = $(this).attr('data-id');

                // Get Values
                var vProductCodeValue = $(this).find('.divContentCode').text();

                var vProductNameValue = $(this).find('.divContentName').text();
                // Set Value
                $('#txtProductCode').val(vProductId);
                $('#txtProductCode').attr('data-id', vProductId);
                $('#txtProductName').val(vProductNameValue);

                if (e.type == 'dblclick') {

                }

                // Modal Show
                $('#ProductDataModal').modal('hide');


            })
        }
    })
    $('#txtUnitCode').on('keydown dblclick', function (e) {
        if (e.keyCode == 120 || e.type == 'dblclick') {
            var vURL = '/Unit/SearchBasicUnit';
            $('#UnitDataModalContent').load(vURL);
            // Modal Show
            $('#UnitDataModal').modal('show');

            $('body').on('click', '.divUnitSelect', function () {
                // Unit Id
                var vUnitId = $(this).attr('data-id');

                // Get Values
                var vUnitCodeValue = $(this).find('.divUnitNo').text();
                var vUnitNameValue = $(this).find('.divUnitName').text();
                // Set Value
                $('#txtUnitCode').val(vUnitCodeValue);
                $('#txtUnitCode').attr('data-id', vUnitId);
                $('#txtUnitName').val(vUnitNameValue);


                if (e.type == 'dblclick') {
                    //funSearch(1)
                }


                // Modal Show
                $('#UnitDataModal').modal('hide');


            })
        }
    })
    //$('.tblItemUnitBody').append();
    $('#txtTypeCode').on('keydown dblclick', function (e) {

        if (e.keyCode == 120 || e.type == 'dblclick') {

            //var vURL = '/CategoryAccount/SearchCategoryAccount';
            var vURL = '/ResItem/CatProductSearch/';
            $('#TypeDataModalContent').load(vURL);
            // Modal Show
            $('#TypeDataModal').modal('show');

            // Select Account
            //$('body').on('click', '.divCategoryAccountSelect', function () {
                $('body').on('click', '.divGroupSelect', function () {

                vElementGroupAccount = $('body').find('#txtTypeCode');
                // Account Id
                var vCategoryAccountId = $(this).attr('data-id');

                // Get Values
                //var vCategoryAccountCodeValue = $(this).find('.divCategoryAccountNo').text();
                //    var vCategoryAccountNameValue = $(this).find('.divCategoryAccountName').text();

                    var vCategoryAccountCodeValue = $(this).find('.divGroupCode').text();
                    var vCategoryAccountNameValue = $(this).find('.divGroupName').text();


                // Check The Controller Who Fires The Data Modal
                //if (localStorage.getItem('lstparent') == 'txtFromAccountId') {
                // Set Value
                $('#txtTypeCode').val(vCategoryAccountCodeValue);
                $('#txtTypeCode').attr('data-id', vCategoryAccountId)
                $('#txtTypeName').val(vCategoryAccountNameValue);
                //}


                    if (e.type == 'dblclick') {
                        //funSearch(1)
                    }


                // Modal Show
                $('#TypeDataModal').modal('hide');


            })

        }
    })

        //e.keyCode == 120
      //  $('#txtStoreCode').on('blur', function () {
        $('#txtStoreCode').on('keyup', function () {
            //if (e.keyCode != 120) {
                  var vStoreCode = $(this).val().trim();
        //if (vIsChkClicked == 0) {
                if (vStoreCode != '') {
             $.post('/ProductsQuantities/SearchStoreByCode', {
            pStoreCode: vStoreCode

        }, function (data, status) {
            if (data != undefined && data != '' ) {
                var vDataResult = JSON.parse(data);
                $('#txtStoreCode').attr('data-id', vDataResult[0].StoreId)
                $('#txtStoreName').val(vDataResult[0].StoreNameL1)

                //funSearch(1)
            }
            else {
                funNotification('@appResource.msgWrongCode', 1);
                $('#txtStoreCode').attr('data-id', '0')
                $('#txtStoreCode').val('')
                $('#txtStoreName').val('')
                $('#txtStoreCode').focus();
                //funSearch(1)
            }

        })
        }
        else {
            $('#txtStoreCode').attr('data-id', '0')
            $('#txtStoreName').val('')
            //funSearch(1)
        }
        //}
        //else {
        //    vIsChkClicked == 0
        //}
            //}
    })
        //$('#txtTypeCode').on('blur', function () {
        $('#txtTypeCode').on('keyup', function (e) {
            //if (e.keyCode != 120) {
            var vTypeCode = $(this).val().trim();
            //if (vIsChkClicked == 0) {
            if (vTypeCode != '') {
                $.get('/api/APILookup/LookupGET',
                    {
                        pIsDetail: true,
                        //pLookupId: 124,
                        pLookupId: 120,
                        pdORD: vTypeCode,
                        pQueryTypeId: '400',
                    },


                    //     $.post('/ProductsQuantities/SearchTypeByCode', {
                    //pTypeCode: vTypeCode

                    //     },

                    function (data, status) {
                        if (data != undefined && data != '') {
                            var vDataResult = JSON.parse(data);
                            //$('#txtTypeCode').attr('data-id', vDataResult[0].CategoryAccountId)
                            //$('#txtTypeName').val(vDataResult[0].CategoryAccountNameL1)
                            $('#txtTypeCode').attr('data-id', vDataResult[0].LookupDtlId)
                            $('#txtTypeName').val(vDataResult[0].LookupDtlDesc)


                            //funSearch(1)
                        }
                        else {
                            funNotification('@appResource.msgWrongCode', 1);
                            $('#txtTypeCode').attr('data-id', '0')
                            $('#txtTypeCode').val('')
                            $('#txtTypeName').val('')
                            $('#txtTypeCode').focus();
                            //funSearch(1)
                        }

                    })
            }
            else {
                $('#txtTypeCode').attr('data-id', '0')
                $('#txtTypeName').val('')
                //funSearch(1)
            }
            //}
            //else {
            //    vIsChkClicked = 0
            //}

        //}
        })


        $('#txtProductCode').on('blur', function (e) {
            //if (e.keyCode != 120) {
                var vProductCode = $(this).val().trim();
                //if (vIsChkClicked == 0) {
                if (vProductCode != '') {
                    $.post('/ProductsQuantities/SearchProductByCode', {
                        //pInvItemCode: vProductCode
                        pInvItemId: vProductCode

                    }, function (data, status) {
                        if (data != undefined && data != '') {
                            var vDataResult = JSON.parse(data);
                            $('#txtProductCode').attr('data-id', vDataResult[0].InvItemId)
                            $('#txtProductName').val(vDataResult[0].InvItemNameL1)

                            //funSearch(1)
                        }
                        else {
                            funNotification('@appResource.msgWrongCode', 1);
                            $('#txtProductCode').attr('data-id', '0')

                            $('#txtProductCode').val('')
                            $('#txtProductName').val('')

                            $('#txtProductCode').focus();
                            //funSearch(1)
                        }

                    })
                }
                else {
                    $('#txtProductCode').attr('data-id', '0')
                    $('#txtProductName').val('')
                    //funSearch(1)
                }
                //}
                //else {
                //    vIsChkClicked = 0;
                //}
            //}
    })

       // $('#txtProductCode').on('blur', function () {

       // $('#txtUnitCode').on('blur', function () {
        $('#txtUnitCode').on('keyup', function (e) {
            //if (e.keyCode != 120) {
           var vUnitCode = $(this).val().trim();
           //if (vIsChkClicked == 0) {
               if (vUnitCode != '') {
                   $.post('/ProductsQuantities/SearchUnitByCode', {
                       pUnitCode: vUnitCode

                   }, function (data, status) {
                       if (data != undefined && data != '') {
                           var vDataResult = JSON.parse(data);
                           $('#txtUnitCode').attr('data-id', vDataResult[0].LookupDtlId)
                           $('#txtUnitName').val(vDataResult[0].LookupDtlDesc)


                           //funSearch(1)
                       }
                       else {
                           funNotification('@appResource.msgWrongCode', 1);
                           $('#txtUnitCode').attr('data-id', '0')
                           $('#txtUnitCode').val('')
                           $('#txtUnitName').val('')
                           $('#txtUnitCode').focus();
                           //funSearch(1)
                       }

                   })
               }
               else {
                   $('#txtUnitCode').attr('data-id', '0')
                   $('#txtUnitName').val('')
                   //funSearch(1)
               }
           //}
           //else {
               //vIsChkClicked = 0
           //}
            //}
    })

        //$('#chkZero').on('change', function () {

        //funSearch();

        //})

        //$('#txtStoreCode').on('focus', function () {

        //    if ($('#chkZero').prop('checked')) {
        //        //vIsChkClicked = 1
        //        funSearch(1, 'chkZero');
        //    }
        //    else {
        //        //vIsChkClicked = 0
        //        funSearch(1);
        //    }


        //})
            $('#chkZero').on('blur click keyup keydown', function () {

            //if ($('#chkZero').prop('checked')) {

                    $('.tblQuantiesBody').html('')

                //funSearch();

        })

        $('#type').on('keyup change keydown blur', function () {
                    $('.tblQuantiesBody').html('')

              //funSearch()

                })
           $('#reportType').on('keyup change keydown blur', function () {
                    $('.tblQuantiesBody').html('')
              //funSearch()

                })


    function funSearch(pIsSearch = 1,IsZero)
    {
        var vTableBody = $('.tblQuantiesBody')
        var vStoreId = null;
        var vItemId = null;
        var vUnitId = null;
        var vTypeId = $('#type').val();
        var ReportType = $('#reportType').val();
        if (!$('#chkZero').prop('checked')) {IsZero=0}
        if ($('#txtStoreCode').val().trim() == '') {

        }
        else {
            vStoreId = $('#txtStoreCode').attr('data-id')
        }
        if ($('#txtTypeCode').val().trim() == '') {

        }
        else {

                //= $('#txtTypeCode').attr('data-id')
        }
        if ($('#txtUnitCode').val().trim() == '') {

        }
        else {
            vUnitId = $('#txtUnitCode').attr('data-id')
        }
        if ($('#txtProductCode').val().trim() == '') {

        }
        else {
            vItemId = $('#txtProductCode').attr('data-id')
        }
        console.log('pIsSearch' + pIsSearch)
        var vQueryType = 400;

                // If On Load
                //alert('IF checkBoxZero Is NOT Checked')
                console.log('IF checkBoxZero Is NOT Checked')

                //$.post('/ProductsQuantities/InvStoreItemQtyGET', {
                $.get('/api/APIInvStoreItemQty/InvStoreItemQtyGET', {
                    pStoreId: vStoreId,
                    pItemId: vItemId,
                    pUnitId: vUnitId,
                    IsZero:IsZero,
                    ReportTypeId:ReportType,
                    pItemType: vTypeId,
                    pQueryTypeId: 400

                }, function (data, status) {
                         console.log('400')
                    vTableBody.html('');
                    if (data != undefined && data != '') {

                        var vDataResult = JSON.parse(data);
                        vtblAllData = vDataResult;
                        vtblStoreData = vDataResult[0].tblAllStore
                        // If On Load
                        if (pIsSearch == 0) {


                            vtblData = vDataResult[0].tblAllProd

                        }
                        $.each(vDataResult, function (i, InvStoreItemQty) {


                            var vRow = funRowConfig(InvStoreItemQty)
                            vTableBody.append(vRow)
                        })
                    }
                    else {
                        funEmptyRow();
                    }

                })

        }









        function funRowConfig(pQtyRow, pIsZero = 0) {

            var vColorClass = ""

            // If CheckBox NOT ZERO
            if (pIsZero == 0) {

                if (pQtyRow.ItemQty == 0) {
                    vColorClass = "clsColorGray"
                }
                else if (pQtyRow.ItemQty > 0 && pQtyRow.ItemQty <= 10) {
                    vColorClass = "clsColorRed"
                }
                else if (pQtyRow.ItemQty > 15) {
                    vColorClass = "clsColorGreen"
                }
                var vRowContent = '<tr class="tblRow" data-id="' + pQtyRow.InvStoreItemQtyId + '" data-store="' + pQtyRow.StoreId + '" style="" data-value="' + pQtyRow.ItemQty+'">' +
                    //'<td ><button class="btn btn-sm btn-light btnVehicleAddRow text-secondary"><i class="fa fa-plus-circle"></i></button></td>' +
                    '<td  width="5%"  class="' + vColorClass + '"><input type="text" class="form-control  StoreCode ' + vColorClass +'" disabled data-id="' + pQtyRow.StoreId + '" value="' + pQtyRow.StoreCode + '" data-store="' + pQtyRow.StoreId + '"  /></td>' +

                    '<td><input type="text" class="form-control  StoreName ' + vColorClass + '" value="' + pQtyRow.StoreNameL1 + '" disabled /></td>' +
                    //'<td  width="5%"><input type="text" class="form-control   ProductCode" disabled data-id="' + pQtyRow.ItemId + '"     value="' + pQtyRow.InvItemCode + '" data-store="' + pQtyRow.StoreId +'"  /></td>' +
                    '<td  width="5%"><input type="text" class="form-control   ProductCode  ' + vColorClass +'" disabled data-id="' + pQtyRow.ItemId + '"     value="' + pQtyRow.ItemId + '" data-store="' + pQtyRow.StoreId + '"  /></td>' +
                    '<td><input type="text" class="form-control  ProductName  ' + vColorClass + '"    value="' + pQtyRow.InvItemNameL1 + '" disabled  /></td>' +
                    '<td width="10%"><input type="text" class="form-control  Qty  ' + vColorClass + '"  value="' + pQtyRow.ItemQty + '" disabled /></td>' +
                    '<td><input type="text" class="form-control  Unit  ' + vColorClass +'" disabled data-id="' + pQtyRow.UnitId + '" value="' + pQtyRow.UnitName + '"  /></td>' +

                    '</tr>';
            }

            // IF FILTERED BY STOREs
           else if ($('.txtStoreCode').val().trim() != '' && pIsZero != 0 ) {
                //BEGIN IF

                // If CheckBox IS ZERO
                 if (pIsZero != 0) {
                    var vStoreId = 0;
                    var vStoreCode = 0;
                    var vStoreName = '';
                    var vRowContentZero = ''
                    // IF STORE TEXT EMPTY
                    if ($('#txtStoreCode').val().trim() != '') {
                        // BEGIN IF
                        vStoreId = $('#txtStoreCode').attr('data-id');
                        vStoreCode = $('#txtStoreCode').val();
                        vStoreName = $('#txtStoreName').val();
                        // END IF


                    }
                    // IF STORE TEXT NOT EMPTY
                    else {

                    }
                    // FIND IF THE PRODUCT EXIST IN THE DATATABLE
                    if ($('.tblQuantiesBody .tblRow').find('.ProductCode[data-id="' + pQtyRow.InvItemId + '"]').length) {
                        //BEGIN IF
                        // IF TRUE THEN DONNOT APPEND ROW
                        vRowContentZero = '';
                        // END IF

                    }
                    else {


                            vColorClass = "clsColorGray"


                        //BEGIN IF
                        // IF FALSE THEN  APPEND ROW TO THE TABLE
                        vRowContentZero = '<tr class="tblRow" data-id="0"  style=""  data-id="0" data-store="' + vStoreId + '" data-value="' + pQtyRow.ItemQty +'" >' +
                            //'<td ><button class="btn btn-sm btn-light btnVehicleAddRow text-secondary"><i class="fa fa-plus-circle"></i></button></td>' +
                            '<td  width="5%"  class="' + vColorClass +'"><input type="text" class="form-control  StoreCode" disabled data-id="' + vStoreId + '" value="' + vStoreCode + '"  /></td>' +

                            '<td><input type="text" class="form-control  StoreName  ' + vColorClass +'" value="' + vStoreName + '"  /></td>' +
                            //'<td  width="5%"><input type="text" class="form-control   ProductCode"  disabled data-id="' + pQtyRow.InvItemId + '"     value="' + pQtyRow.InvItemCode + '" data-store="' + vStoreId + '"  /></td>' +
                            '<td  width="5%"><input type="text" class="form-control   ProductCode  ' + vColorClass +'"  disabled data-id="' + pQtyRow.InvItemId + '"     value="' + pQtyRow.InvItemId + '" data-store="' + vStoreId + '"  /></td>' +

                            '<td><input type="text" class="form-control  ProductName  ' + vColorClass +'"    value="' + pQtyRow.InvItemNameL1 + '"   /></td>' +
                            '<td width="10%"><input type="text" class="form-control  Qty  ' + vColorClass +'"  value="0"  /></td>' +
                            '<td><input type="text" class="form-control  Unit  ' + vColorClass +'" disabled data-id="' + pQtyRow.UnitId + '" value="' + pQtyRow.UnitName + '"  /></td>' +
                            '</tr>';
                        // END IF

                    }


                }

                if (pIsZero != 0) {
                    vRowContent = vRowContentZero
                }
                //END IF
            }
            // IF NOT FILTERED BY STORE
            else if (pIsZero != 0 && $('.txtStoreCode').val().trim() == '') {

                  //BEGIN IF
                var vRowContentStore = ''
                //console.log(' pQtyRow.InvItemNameL1' + pQtyRow.InvItemNameL1)
                // LOOP THROUGH ALL STORES
                $.each(vtblStoreData, function (i, Store) {
                    //console.log(' StoreNameL1' + Store.StoreNameL1)


                    //$('div[attr1="value1"][attr2="value2"]')

                    //Store.StoreId == $('.tblQuantiesBody .tblRow').find('.StoreCode[data-id="' + pQtyRow.StoreId + '"]').length &&
                    // FOUND THE PRODUCT FOR THE SAME STORE
                    if ($('.tblQuantiesBody .tblRow').find('.ProductCode[data-id="' + pQtyRow.InvItemId + '"][data-store="' + Store.StoreId + '"]').length) {
                        //console.log('Productqty' + $('.tblQuantiesBody .tblRow').find('.ProductCode[data-id="' + pQtyRow.InvItemId + '"][data-store="' + Store.StoreId + '"]').closest('.tblRow').find('.ProductName').val()+'---' + $('.tblQuantiesBody .tblRow').find('.ProductCode[data-id="' + pQtyRow.InvItemId + '"][data-store="' + Store.StoreId + '"]').closest('.tblRow').find('.Qty').val())
                        vRowContentStore += ''
                    }
                    // NOT FOUND THE PRODUCT FOR THE SAME STORE
                    else {


                            vColorClass = "clsColorGray"

                        vRowContentStore += '<tr class="tblRow" data-id="0" style=""  data-id="0" data-store="' + pQtyRow.StoreId + '" data-value="' + pQtyRow.ItemQty +'"  >' +
                            //'<td ><button class="btn btn-sm btn-light btnVehicleAddRow text-secondary"><i class="fa fa-plus-circle"></i></button></td>' +
                            '<td  width="5%"  class="' + vColorClass + '"><input type="text" class="form-control  StoreCode  ' + vColorClass +'" disabled data-id="' + Store.StoreId + '" value="' + Store.StoreCode + '"  /></td>' +

                            '<td><input type="text" class="form-control  StoreName  ' + vColorClass +'" value="' + Store.StoreNameL1 + '"  /></td>' +
                                  //'<td  width="5%"><input type="text" class="form-control   ProductCode"  disabled data-id="' + pQtyRow.InvItemId + '"     value="' + pQtyRow.InvItemCode + '" data-store="' + Store.StoreId + '"  /></td>' +
                            '<td  width="5%"><input type="text" class="form-control   ProductCode  ' + vColorClass +'"  disabled data-id="' + pQtyRow.InvItemId + '"     value="' + pQtyRow.InvItemId + '" data-store="' + Store.StoreId + '"  /></td>' +

                            '<td><input type="text" class="form-control  ProductName  ' + vColorClass +'"    value="' + pQtyRow.InvItemNameL1 + '"   /></td>' +
                            '<td width="10%"><input type="text" class="form-control  Qty  ' + vColorClass +'"  value="0"  /></td>' +
                            '<td><input type="text" class="form-control  Unit  ' + vColorClass +'" disabled data-id="' + pQtyRow.UnitId + '" value="' + pQtyRow.UnitName + '"  /></td>' +
                            '</tr>';
                        //vRowContentStore +='<br />'
                    }

                })
                vRowContent = vRowContentStore
                //END IF
            }
        return vRowContent;

        }
        //// Change Fomnt Color
        function ChangeFontColor() {

            $('.tblRow').each(function () {
                var vELement = $(this).closest('tr')
                var vRemain = vELement.find('.Qty').val()
                if (vRemain == 0) {
                    vELement.closest('tr[data-value=' + vRemain + ']').find('input').addClass('clsColorGray')
                }
                if (vRemain > 0 && vRemain <= 10) {
                    vELement.closest('tr[data-value=' + vRemain + ']').find('input').addClass('clsColorRed')
                }
                if (vRemain < 15 && vRemain > 10) {
                    vELement.closest('tr[data-value=' + vRemain + ']').find('input').addClass('clsColorYellow')
                }
                if (vRemain > 15) {
                    vELement.closest('tr[data-value=' + vRemain + ']').find('input').addClass('clsColorGreen')
                }
            })
        }



    
    
        $('.btnPrint').on('click', function () {
            var vStoreId = null;
            var vItemId = null;
            var vItemType = null;
            var vUnitId = null;
            var vType = 'General';
            var vZeroType = '';
            if ($('#rdbtnGeneral').prop('checked')  ) {

            }
            else if ($('#rdbtnType').prop('checked') ) {
                vType = 'Type';
            }
            else if ($('#rdbtnStore').prop('checked')) {
                vType = 'Store';
            }
            if ($('#txtStoreCode').attr('data-id') != '0') {
                vStoreId = $('#txtStoreCode').attr('data-id');
            }
            if ($('#txtProductCode').attr('data-id') != '0') {
                vItemId = $('#txtProductCode').attr('data-id');
            }
            if ($('#txtTypeCode').attr('data-id') != '0') {
                vItemType = $('#txtTypeCode').attr('data-id');
            }
            if ($('#txtUnitCode').attr('data-id') != '0') {
                vUnitId = $('#txtUnitCode').attr('data-id');
            }
            if ($('#chkZero').prop('checked')) {
                vZeroType = 'zero';
            }
              var vTypeId = $('#type').val();
            var ReportType = $('#reportType').val();
            var IsZero;
            if (!$('#chkZero').prop('checked')) { IsZero = 0 } else { IsZero = null}

            var url = '/ProductsQuantities/ProductionQuantitieshtmlReport?pStoreId=' + vStoreId + '&pItemId=' + vItemId + '&pItemType=' + vTypeId + '&pUnitId=' + vUnitId + '&pType=' + vType + '&pZeroType=' + vZeroType+ '&IsZero=' + IsZero+'&ReportType=' + ReportType ; ;
            var popupWindow = window.open(url);

        });



        $('#btnPrintItem').on('click', function () {
            var vItemId =$('#txtProductCode').attr('data-id');
           window.open('/Transaction/Report?ItemId='+vItemId);
        })
</script>
