<!-- FixedAssetSite -->
@model System.Data.DataTable
@using System.Data
@using appSERP.appCode.dbCode.FA
@using appSERP.appCode.Setting.User
@using appSERP.Views.Shared.appResource
@{ DataTable vDtData = @Model;}

<!-- Header -->
<div>
    @Html.Action("ViewSettingHeader", "ViewSetting", new { pHeaderTitle = appResource.lblFixedAssetSite })
</div>
<!-- Utlity -->
<div class="divUtilityBar d-flex">
    @Html.Partial("~/Views/ViewSetting/ViewSettingUtilityBar.cshtml")
</div>
<!-- Data Container -->
<div>
    <!-- DataTable -->
    <table class="table table-hover tblData" id="tblData">
        <!-- DataTable Header -->
        <thead>
            <tr>

                <th>@appResource.FixedAssetSiteQty</th>
                <th>@appResource.FixedAssetSiteTransDate</th>
                <th>@appResource.AssetId</th>
                <th>@appResource.AssetId</th>
                <th>@appResource.SiteDetail</th>
                <th>@appResource.SiteDetail</th>
                <th>@appResource.TransactionType</th>
                <th>@appResource.TransactionType</th>
                <th>@appResource._IsActive</th>
                <th class="thActions">@appResource._Actions</th>
            </tr>
        </thead> <!-- End of DataTable Header -->
        <!-- DataTable Body -->
        <tbody>
            @foreach (DataRow vDrwData in vDtData.Rows)
            {
                <tr data-active="@vDrwData["FixedAssetSiteIsActive"]">
                    <!-- Data -->

                    <td title="@vDrwData["FixedAssetSiteQty"]">@vDrwData["FixedAssetSiteQty"]</td>
                    <td title="@vDrwData["FixedAssetSiteTransDate"]">@vDrwData["FixedAssetSiteTransDate"]</td>

                    <td title="@vDrwData["AssetNameL1"]">@vDrwData["AssetNameL1"]</td>
                    <td title="@vDrwData["AssetNameL2"]">@vDrwData["AssetNameL2"]</td>
                    <td title="@vDrwData["SiteDetailNameL1"]">@vDrwData["SiteDetailNameL1"]</td>
                    <td title="@vDrwData["SiteDetailNameL2"]">@vDrwData["SiteDetailNameL2"]</td>
                    <td title="@vDrwData["TransactionTypeNameL1"]">@vDrwData["TransactionTypeNameL1"]</td>
                    <td title="@vDrwData["TransactionTypeNameL2"]">@vDrwData["TransactionTypeNameL2"]</td>


                    <td class="dataIsActive"></td>
                    <!-- Actions -->
                    <td>
                        <!-- Edit -->
                        <button type="button" class="btn btnEdit" data-id="@vDrwData["FixedAssetSiteId"]">
                            <i class="icoEdit"></i>
                        </button>
                        <!-- Delete -->
                        <button type="button" class="btn btnDelete" data-id="@vDrwData["FixedAssetSiteId"]" data-name="@vDrwData["FixedAssetSiteId"]">
                            <i class="icoDelete"></i>
                        </button>
                    </td> <!-- End of Actions Cell -->
                </tr>
            }
        </tbody><!-- End of DataTable Body -->
    </table> <!-- End of DataTable -->
</div> <!-- End of Data Container -->
<!-- Data Modal -->
<div id="dataModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="dataModalContent"></div>
    </div>
</div>
<!-- Confirm Delete Modal -->
<div id="confirmDeleteModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="confirmDeleteModalContent"></div>
    </div>
</div>
<!-- Script Create / Edit / Delete -->
<script>
    // Data Model URL
    var vDataURL = '/FixedAssetSite/DataModel/';
    // Data Model Elements [Create / Edit]
    var vDataModelElements = $('.btnCreate, .btnEdit');
    // Click Event
    vDataModelElements.on('click', function () {
        // Id
        var vDataId = $(this).attr('data-id');
        // Modal
        $('#dataModalContent').load(vDataURL + vDataId);
        // Check Modal Input
        funCheckModalInput();
        // Modal Show
        $('#dataModal').modal('show');
    });</script>
<script>
    $('.btnDelete').on('click', function () {
        // Id - NameAr - NameEn
        var vDataId = $(this).attr('data-id');
        var vDataName = $(this).attr('data-name');
        // URL
        var vDataURL = '/ViewSetting/ViewSettingConfirmDelete/';
        // Get HTML Content of [Confirm Delete] Partial View
        $.get(
            // URL
            vDataURL,
            // Parameters
            {
                id: vDataId,
                pName: vDataName,
            },
            // Function
            function (data, status) {
                // Modal
                $('#confirmDeleteModalContent').html(data);
                $('#confirmDeleteModal').modal('show');
                // Click Event [Delete Confirm]
                $("body").on("click", "#btnDeleteConfirm", function () {
                    // Delete Action URL
                    var vDeleteActionURL = '/FixedAssetSite/DataModel/';
                    // Delete
                    $.post(vDeleteActionURL, { id: vDataId, pIsDelete: true }, function () {
                        window.location.href = '/FixedAssetSite';
                    });
                });
            });
    }); // End of Click Event [Delete Button]</script>
<!-- Notification -->
<script src="~/Scripts/Notification/jquery.toast.js"></script>
<script src="~/Scripts/Notification/jsNotifications.js" type="text/javascript"></script>
<script>
    funNotification('@ViewBag.dbFixedAssetSite.vSQLResult', '@ViewBag.dbFixedAssetSite.vSQLResultTypeId');
    @{ ViewBag.dbFixedAssetSite.vSQLResult = string.Empty;}
    $('.btnPrint').on('click', function () {
        var url = '/FixedAssetSite/FixedAssetSiteReport'
        var popupWindow = window.open(url);
    });
</script>