<!-- Trust -->
@model System.Data.DataTable
@using System.Data
@using appSERP.appCode.dbCode.FA
@using appSERP.appCode.Setting.User
@using appSERP.Views.Shared.appResource
@{ DataTable vDtData = @Model;}

<!-- Header -->
<div >
    @Html.Action("ViewSettingHeader", "ViewSetting", new { pHeaderTitle = appResource.lblTrust })
</div>
<!-- Data Container -->
<div >
    <!-- DataTable -->
    <table class="table table-hover tblData" id="tblData">
        <!-- DataTable Header -->
        <thead>
            <tr>

                <th>@appResource.Trust</th>
                <th>@appResource.Trust</th>
                <th>TrustEmployee </th>
                <th>@appResource._Phone1</th>
                <th>@appResource._Phone2</th>
                <th>@appResource._Email</th>
                <th>@appResource._IsActive</th>


                <th class="thActions">@appResource._Actions</th>
            </tr>
        </thead> <!-- End of DataTable Header -->
        <!-- DataTable Body -->
        <tbody>
            @foreach (DataRow vDrwData in vDtData.Rows)
            {
            <tr data-active="@vDrwData["TrustIsActive"]">
                <!-- Data -->
               
                 <td title="@vDrwData["TrustNameL1"]">@vDrwData["TrustNameL1"]</td>

             
                 <td title="@vDrwData["TrustNameL2"]">@vDrwData["TrustNameL2"]</td>
                <td title="@vDrwData["TrustEmployeeId"]">@vDrwData["TrustEmployeeId"]</td>
                <td title="@vDrwData["TrustPhone1"]">@vDrwData["TrustPhone1"]</td>
                <td title="@vDrwData["TrustPhone2"]">@vDrwData["TrustPhone2"]</td>
                <td title="@vDrwData["TrustEmail"]">@vDrwData["TrustEmail"]</td>
                <td class="dataIsActive"></td>
                <!-- Actions -->
                <td>
                    <!-- Edit -->
                    <button type="button" class="btn btnEdit" data-id="@vDrwData["TrustId"]">
                        <i class="icoEdit"></i>
                    </button>
                    <!-- Delete -->
                    <button type="button" class="btn btnDelete" data-id="@vDrwData["TrustId"]" data-name="@vDrwData["TrustNameL1"]">
                        <i class="icoDelete"></i>
                    </button>
                </td> <!-- End of Actions Cell -->
            </tr>
            }
        </tbody><!-- End of DataTable Body -->
    </table> <!-- End of DataTable -->
</div> <!-- End of Data Container -->
<!-- Data Modal -->
<div id="dataModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="dataModalContent"></div>
    </div>
</div>
<!-- Confirm Delete Modal -->
<div id="confirmDeleteModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="confirmDeleteModalContent"></div>
    </div>
</div>
<!-- Script Create / Edit / Delete -->
<script>
    // Data Model URL
    var vDataURL = '/Trust/DataModel/';
    // Data Model Elements [Create / Edit]
    var vDataModelElements = $('.btnCreate, .btnEdit');
    // Click Event
    vDataModelElements.on('click', function () {
        // Id
        var vDataId = $(this).attr('data-id');
        // Modal
        $('#dataModalContent').load(vDataURL + vDataId);
        // Check Modal Input
        funCheckModalInput();
        // Modal Show
        $('#dataModal').modal('show');
    });</script>
<script>
    $('.btnDelete').on('click', function () {
        // Id - NameAr - NameEn
        var vDataId = $(this).attr('data-id');
        var vDataName = $(this).attr('data-name');
        // URL
        var vDataURL = '/ViewSetting/ViewSettingConfirmDelete/';
        // Get HTML Content of [Confirm Delete] Partial View
        $.get(
            // URL
            vDataURL,
            // Parameters
            {
                id: vDataId,
                pName: vDataName,
            },
            // Function
            function (data, status) {
                // Modal
                $('#confirmDeleteModalContent').html(data);
                $('#confirmDeleteModal').modal('show');
                // Click Event [Delete Confirm]
                $("body").on("click", "#btnDeleteConfirm", function () {
                    // Delete Action URL
                    var vDeleteActionURL = '/Trust/DataModel/';
                    // Delete
                    $.post(vDeleteActionURL, { id: vDataId, pIsDelete: true }, function () {
                        window.location.href = '/Trust';
                    });
                });
            });
    }); // End of Click Event [Delete Button]</script>
<!-- Notification -->
<script>
    funNotification('@dbTrust.vSQLResult', '@dbTrust.vSQLResultTypeId');
    @{ dbTrust.vSQLResult = string.Empty;}
</script>