<!-- DevCompany -->
@model System.Data.DataTable
@using System.Data
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.dbCode.GD
@using appSERP.appCode.Setting.User
@{ DataTable vDtData = @Model;}

<!-- Layout -->
@{
    Layout = "~/Views/Shared/appLayout/_AdminLayout.cshtml";
}

<!-- Header -->
<div class="">
    @Html.Action("ViewSettingHeader", "ViewSetting", new { pHeaderTitle = appResource._Company, pIsNew = false })
</div>
<!-- Utlity -->
<div class="divUtilityBar d-flex ">
    @Html.Partial("~/Views/ViewSetting/ViewSettingUtilityBar.cshtml")
</div>

<!-- Data Container -->
<div class="" id="divContainer">

    <!-- DataTable -->
    <table class="table table-hover tblData" id="tblData">
        <!-- DataTable Header -->
        <thead>
            <tr>
                <th colspan="2">@appResource._Image</th>
                <th colspan="2">@appResource._Company</th>
                <th>@appResource._Phone1</th>
                <th>@appResource._Phone2</th>
                <th>@appResource._Email</th>
                <th>@appResource._Website</th>
                <th>@appResource._Address</th>
                <th>@appResource.DevAppImage</th>
                <th>@appResource.Application1</th>
                <th>@appResource.Application2</th>

                <th class="thActions">@appResource._Actions</th>
            </tr>
        </thead> <!-- End of DataTable Header -->
        <!-- DataTable Body -->
        <tbody>
            @foreach (DataRow vDrwData in vDtData.Rows)
            {
                <tr>
                    <!-- Data -->
                    <td title="@vDrwData["DevCompanyImage"]"><img src="data:image/gif;base64,@vDrwData["DevCompanyImage"]" width="75"></td>
                    <td title="@vDrwData["DevCompanyImageFull"]"><img src="data:image/gif;base64,@vDrwData["DevCompanyImageFull"]" width="75"></td>
                    <td title="@vDrwData["DevCompanyNameL1"]">@vDrwData["DevCompanyNameL1"]</td>
                    <td title="@vDrwData["DevCompanyNameL2"]">@vDrwData["DevCompanyNameL2"]</td>
                    <td title="@vDrwData["DevCompanyPhone"]">@vDrwData["DevCompanyPhone"]</td>
                    <td title="@vDrwData["DevCompanyPhone2"]">@vDrwData["DevCompanyPhone2"]</td>
                    <td title="@vDrwData["DevCompanyEmail"]">@vDrwData["DevCompanyEmail"]</td>
                    <td title="@vDrwData["DevCompanyWebsite"]">@vDrwData["DevCompanyWebsite"]</td>
                    <td title="@vDrwData["DevCompanyAddress"]">@vDrwData["DevCompanyAddress"]</td>



                    <td title="@vDrwData["DevAppImage"]"><img src="data:image/gif;base64,@vDrwData["DevAppImage"]" width="75"></td>
                    <td title="@vDrwData["DevAppNameL1"]">@vDrwData["DevAppNameL1"]</td>
                    <td title="@vDrwData["DevAppNameL2"]">@vDrwData["DevAppNameL2"]</td>

                    <!-- Actions -->
                    <td>
                        <!-- Edit -->
                        <button type="button" class="btn btnEdit" data-id="@vDrwData["DevCompanyId"]">
                            <i class="icoEdit"></i>
                        </button>
                        <!-- Delete -->
                        <button type="button" class="btn btnDelete" data-id="@vDrwData["DevCompanyId"]" data-name="@vDrwData["DevCompanyNameL1"]">
                            <i class="icoDelete"></i>
                        </button>
                    </td> <!-- End of Actions Cell -->
                </tr>
            }
        </tbody><!-- End of DataTable Body -->
    </table> <!-- End of DataTable -->
</div> <!-- End of Data Container -->
<!-- Data Modal -->
<div id="dataModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="dataModalContent"></div>
    </div>
</div>
<!-- Confirm Delete Modal -->
<div id="confirmDeleteModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="confirmDeleteModalContent"></div>
    </div>
</div>
<!-- Script Create / Edit / Delete -->
<script>
    // Data Model URL
    var vDataURL = '/CPanel/DevCompanyDataModel/';
    // Data Model Elements [Create / Edit]
    var vDataModelElements = $('.btnCreate, .btnEdit');
    // Click Event
    vDataModelElements.on('click', function () {
        // Id
        var vDataId = $(this).attr('data-id');
        // Modal
        $('#dataModalContent').load(vDataURL + vDataId);
        // Check Modal Input
        funCheckModalInput();
        // Modal Show
        $('#dataModal').modal('show');
    });</script>
<script>
    $('.btnDelete').on('click', function () {
        // Id - NameAr - NameEn
        var vDataId = $(this).attr('data-id');
        var vDataName = $(this).attr('data-name');
        // URL
        var vDataURL = '/ViewSetting/ViewSettingConfirmDelete/';
        // Get HTML Content of [Confirm Delete] Partial View
        $.get(
            // URL
            vDataURL,
            // Parameters
            {
                id: vDataId,
                pName: vDataName,
            },
            // Function
            function (data, status) {
                // Modal
                $('#confirmDeleteModalContent').html(data);
                $('#confirmDeleteModal').modal('show');
                // Click Event [Delete Confirm]
                $("body").on("click", "#btnDeleteConfirm", function () {
                    // Delete Action URL
                    var vDeleteActionURL = '/DevCompany/DataModel/';
                    // Delete
                    $.post(vDeleteActionURL, { id: vDataId, pIsDelete: true }, function () {
                        window.location.href = '/DevCompany';
                    });
                });
            });
    }); // End of Click Event [Delete Button]</script>
<!-- Notification -->
<script src="~/Scripts/Notification/jquery.toast.js"></script>
<script src="~/Scripts/Notification/jsNotifications.js" type="text/javascript"></script>
<script>
    funNotification('@dbDevCompany.vSQLResult', '@dbDevCompany.vSQLResultTypeId');
    @{ dbDevCompany.vSQLResult = string.Empty;}
</script>
