<!-- Objects -->
@model System.Data.DataTable
@using System.Data
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.dbCode.SYSSETT
@using appSERP.appCode.Setting.User
@{ DataTable vDtData = @Model;}

<!-- Layout -->
@{
    Layout = "~/Views/Shared/appLayout/_AdminLayout.cshtml";
}

<!-- Header -->
<div class="container-fluid">
    @Html.Action("ViewSettingHeader", "ViewSetting", new { pHeaderTitle = "العناصر", pIsNew = false })
</div>
<!-- Data Container -->
<div class="container-fluid">
    <!-- DataTable -->
    <table class="table table-hover tblData" id="tblData">
        <!-- DataTable Header -->
        <thead>
            <tr>

                <th> Objects Name </th>
                <th> Objects Icone White </th>
                <th> Objects Icone Black </th>
                <th class="thActions">@appResource._Actions</th>
            </tr>
        </thead> <!-- End of DataTable Header -->
        <!-- DataTable Body -->
        <tbody>
            @foreach (DataRow vDrwData in vDtData.Rows)
            {
                <tr data-active="@vDrwData["ObjectIsActive"]">
                    <!-- Data -->

                    @if (clsUser.vUserLanguageId == 1)
                    {
                        <td title="@vDrwData["ObjectNameL1"]">@vDrwData["ObjectNameL1"]</td>

                    }
                    else
                    {
                        <td title="@vDrwData["ObjectNameL2"]">@vDrwData["ObjectNameL2"]</td>
                    }
                    <td title="@vDrwData["ObjectIconW"]"><img src="@vDrwData["ObjectIconW"]"></td>
                    <td title="@vDrwData["ObjectIconB"]"><img src="@vDrwData["ObjectIconB"]"></td>
                    <!-- Actions -->
                    <td>
                        <!-- Edit -->
                        <button type="button" class="btn btnEdit" data-id="@vDrwData["ObjectId"]">
                            <i class="icoEdit"></i>
                        </button>
                        <!-- Delete -->
                        <button type="button" class="btn btnDelete" data-id="@vDrwData["ObjectId"]" data-name="@vDrwData["ObjectNameL1"]">
                            <i class="icoDelete"></i>
                        </button>
                    </td> <!-- End of Actions Cell -->
                </tr>
            }
        </tbody><!-- End of DataTable Body -->
    </table> <!-- End of DataTable -->
</div> <!-- End of Data Container -->
<!-- Data Modal -->
<div id="dataModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="dataModalContent"></div>
    </div>
</div>
<!-- Confirm Delete Modal -->
<div id="confirmDeleteModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="confirmDeleteModalContent"></div>
    </div>
</div>
<!-- Script Create / Edit / Delete -->
<script>
    // Data Model URL
    var vDataURL = '/CPanel/ObjectsDataModel/';
    // Data Model Elements [Create / Edit]
    var vDataModelElements = $('.btnCreate, .btnEdit');
    // Click Event
    vDataModelElements.on('click', function () {
        // Id
        var vDataId = $(this).attr('data-id');
        // Modal
        $('#dataModalContent').load(vDataURL + vDataId);
        // Check Modal Input
        funCheckModalInput();
        // Modal Show
        $('#dataModal').modal('show');
    });</script>
<script>
    $('.btnDelete').on('click', function () {
        // Id - NameAr - NameEn
        var vDataId = $(this).attr('data-id');
        var vDataName = $(this).attr('data-name');
        // URL
        var vDataURL = '/ViewSetting/ViewSettingConfirmDelete/';
        // Get HTML Content of [Confirm Delete] Partial View
        $.get(
            // URL
            vDataURL,
            // Parameters
            {
                id: vDataId,
                pName: vDataName,
            },
            // Function
            function (data, status) {
                // Modal
                $('#confirmDeleteModalContent').html(data);
                $('#confirmDeleteModal').modal('show');
                // Click Event [Delete Confirm]
                $("body").on("click", "#btnDeleteConfirm", function () {
                    // Delete Action URL
                    var vDeleteActionURL = '/Objects/DataModel/';
                    // Delete
                    $.post(vDeleteActionURL, { id: vDataId, pIsDelete: true }, function () {
                        window.location.href = '/Objects';
                    });
                });
            });
    }); // End of Click Event [Delete Button]</script>
<!-- Notification -->
<script src="~/Scripts/Notification/jquery.toast.js"></script>
<script src="~/Scripts/Notification/jsMKNotifications.js" type="text/javascript"></script>
<script>
    funNotification('@dbObjects.vSQLResult', '@dbObjects.vSQLResultTypeId');
    @{ dbObjects.vSQLResult = string.Empty;}
</script>
